<div class="container-fluid sectionBg dashBoardSection">
    <div class="container">
        <div class="row">
            <div class="sideNav col-sm-4 col-xs-12">
                <ul>
                    <li><a class="darkBlue" href="#">My Profile</a></li>
                    <li><a class="darkBlue" href="#">My Account</a></li>
                    <li><a class="darkBlue" href="#">My Session List</a></li>
                    <li><a class="darkBlue" href="#">Time Slot Overview</a></li>
                    <li><a class="darkBlue" href="#">Messages</a></li>
                    <li><a class="darkBlue" href="#">Transactions &amp; Orders</a></li>
                    <li><a class="darkBlue" href="#">Help &amp; Support</a></li>
                </ul>
            </div>

            <div class="mainContent col-sm-8  col-xs-12"><button class="risponsivesideBar"></button>

                <h2 class="text-center marginTop">WELCOME<br />
                    TO PEOPLETEACHME</h2>

                <p class="text-center" style="margin-bottom: 139px;">Thank you for signing up with PeopleTeachMe.<br />
                    We’re really excited to have you onboard!<br />
                    <br />
                    <strong>So, let’s get started!</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid btnSection">
    <div class="container">

    </div>
</div>
