<div class="container-fluid header headerDashboard margins">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo"> 
                <a class="objectClick" href="{{ path('<front>') }}"> 
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
        <div class="row">
            <h2 class="darkBlue marginTop col-sm-4" style="padding-left:0;">My Dashboard</h2>
            <div class="topManuDashBoard marginTop pull-left" style="padding-left:0;">

            </div>
        </div>
    </div>
</div>
      
{{ page.content }}

<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-12 col-xs-12 text-center">
                <div class="centerBtn">
                    <ul>
                        <li><a href="/dashboard"><button class="btn orangeBtn pull-right">Back to Dashboard</button></a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>


<div class="container-fluid footer footer1 endPaddingfooterbtn"> 
        <span class="col-sm-12 text-center">
            <div class="container-fluid footer text-center">
                <a class="objectClick" href="{{ path('<front>') }}"> 
                    <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
                    </object>
                </a>
                <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
                </span>
            </div>
        </span> 
    </div>