<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo">
                <a class="objectClick" href="{{ path('<front>') }}">
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="background-thankyou"> </div>
<div class="container-fluid text-center landing-page">
    <div class="col-md-12 col-xs-12">
        <h1>WELCOME! YOU ARE NOW CLOSER TO GET AN</h1>
        <h2>EXTRA INCOME & FREE START UP!</h2>
        <div class="text-center">
            <div class="container-fluid text-center font pagination1 padding-top">
                <div class="container">
                    <div class="row">
                        <ul class="col-xs-12">
                            <div class="outer_pagi">
                                <li class="active"><a href="/en/tutor-landingpage-step-1b">1</a></li>
                                <li><a href="/en/tutor-landingpage-step-2">2</a></li>
                                <li><a href="/en/tutor-landingpage-step-3">3</a></li>
                                <li class="next-page"><a href="/en/tutor-landingpage-step-2">Step</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-small">
                <h4 class="padding-bottom">Contact informations</h4>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="First name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Last name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Contact address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Contact address">
                </div>
                <div class="form-group half-input">
                    <input class="form-control half" type="text" placeholder="Zip code">
                    <input class="form-control half2" type="text" placeholder="City">
                </div>
                <span class="span-left align-left">Your exact address will not shared with users</span>
                <div class="form-group">
                    <div class="select-style selectpicker">
                        <select>
                            <option>Select a state</option>
                            <option>Select a state</option>
                            <option>Select a state</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="select-style selectpicker">
                        <select>
                            <option>Country of residence</option>
                            <option>Country of residence</option>
                            <option>Country of residence</option>
                        </select>
                    </div>
                </div>
                <div class="form-group a-margin">
                    <div class="select-style selectpicker">
                        <select>
                            <option>Select Time zone</option>
                            <option>Select Time zone</option>
                            <option>Select Time zone</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ">
                    <a class="last-btn" href="/en/tutor-landingpage-step-2">Next step</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>