{% include '/themes/custom/peopleteachme/templates/layout/dashboard-account-header.html.twig' %}
<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="mainContent col-sm-12 col-xs-12">

                <div class="mainContent col-sm-8 col-xs-12 sessionPage">

                </div>
                <div class="sessionEdit padding-bottom col-md-6">
                    <div class="sessionProfile col-xs-12 text-center">
                        <img src="/themes/custom/peopleteachme/images/juery1.png" alt="juery1">
                        <p>My name is Alexei Svetlovs - and I can teach you to<br>
                            <strong>Paint Photorealism</strong></p>
                        <div class="stars col-12 text-center">
                            <ul>
                                <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                                <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                                <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                                <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                                <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                                <li><span>0</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sessionInfo col-xs-12 text-center">
                        <ul class="text-left">
                            <li class="sessionLocation">Sweden, Europe</li>
                            <li class="sessionLanguage">Russian, Swedish and English</li>
                            <li class="sessionTime">45 minutes</li>
                            <li class="sessionLevel">Expert, A level</li>
                        </ul>
                    </div>
                </div>
                <div class="sessionForm col-md-6 text-right marginTop pull-right">
                    <div class="form-group">
                        <div class="select-style selectpicker form-control">
                            <select>
                                <option>15 minutes (default Session length)</option>
                                <option>30 minutes (default Session length)</option>
                                <option>45 minutes (default Session length)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style selectpicker form-control">
                            <select>
                                <option>Select Topic ex. Performing art</option>
                                <option>Select Topic ex. Performing art 1</option>
                                <option>Select Topic ex. Performing art 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style selectpicker form-control">
                            <select>
                                <option>Select action ex. play, make</option>
                                <option>Select action ex. play, make 1</option>
                                <option>Select action ex. play, make 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter your Skill ex. Jazz guitar">
                    </div>
                    <div class="form-group multiOption">
                        <input class="form-control" type="text" placeholder="Languages you master">

                    </div>
                    <div class="form-group">
                        <div class="select-style selectpicker form-control">
                            <select>
                                <option>Select YOUR level</option>
                                <option>Select YOUR level 1</option>
                                <option>Select YOUR level 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-12 col-xs-12 text-center">
            <button class="btn greenBtn pull-right">Save</button>
            <div class="centerBtn">
                <ul>
                    <li><a class="btn orangeBtn btn-disabled pull-right">Back</a></li>
                    <li><a class="btn orangeBtn pull-right" href="/en/session-specification-step-2">Next</a></li>
                </ul>
            </div>
            <a class="btn btn-danger pull-left cancel-width" href="/en/dashboard">Cancel</a>

        </div>
    </div>
</div>


<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>