<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PTM</title>
</head>

<body style="background-color: #e1e1e1; margin: 0; padding:0; font-family: Arial, sans-serif; font-size: 14px; text-align: justify;">
<table style="max-width: 700px; width: 90%; min-width: 370px; margin: 80px auto 80px; background: #fff; border: 1px solid #ded492; padding: 0;     border-spacing: 0; border-radius:5px;">
    <tbody style="margin: 0; padding: 0; display: block; background:#F3F4F5;">
    <tr style="display: block;">
        <td style="display: block; padding:0 10px; border-radius: 5px 5px 0 0;"><img src="/themes/custom/peopleteachme/images/logo-teach-me.png" class="img-responsive" style="padding: 10px 0;" alt="Logo"/>
            <h3 style="color: #1C283C; font-size:30px;padding-top: 20px;margin: 0;text-align: center;">Congratulations</h3></td>
    </tr>
    <tr style="display: block;color: #1C283C;font-size: 15px; border: 1px solid rgba(0,0,0,0.1); background: #fff; margin:10px 10px 0px 10px; padding:10px 20px 20px;">
        <td style="padding-top:10px;"><strong style="margin: 0;">Hi [Name]!</strong> <br>
            <br>
            <p style=" margin: 0; color:rgba(28, 40, 60, 0.54); text-align: justify;">We are excited about Your FIRST Session. Your Session is now accessible on peopleteachme.com and all Members can book a session with you.
            </p>
            <p style=" margin-top: 20px; color:#1C283C; text-align: justify;">Let us know if you have any questions - please contact Support (link)!
            </p>

        </td>
    </tr>
    <tr style="display: block;;color: #1C283C;font-size: 15px; border: 1px solid rgba(0,0,0,0.1); background: #fff; margin:10px 10px 0px 10px;padding: 20px 20px 0px;float: left;line-height: 20px;">
        <td style="float: left; width: 52%;"><strong style="margin: 0;">REMEMBER TO ADJUST YOUR TIME SLOTS
            </strong><br>
            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);text-align: justify;padding: 10px 0 0px;">Once you have activated a session You’ll need to make sure to create Time Slots in order for people to be able to  Book your Session(s).
            </p>
            <br></td>
        <td style="float: right;width: 38%;"><button style=" background: #D96B3B;border: none; padding: 12px 40px 9px;color: #fff;font-weight: bold;font-size: 20px;left: 20px;margin-top: 15px;border-radius: 3px;">How do I update My Time Slots</button></td>
    </tr>
    <tr style="display: block;;color: #1C283C;font-size: 15px; border: 1px solid rgba(0,0,0,0.1); background: #fff; margin:10px 10px 40px 10px;padding: 20px 20px 20px;float: left;line-height: 20px;">
        <td style="float: left; width: 50%;"><strong style="margin: 0;">INCREASE CHANCES FOR SALE
            </strong><br>
            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);text-align: justify;padding: 10px 0 0px;">You can also contribute to increase traffic to peopleteachme.com and increase your chances for sale. Please encourage your network to visit peopleteachme.com. Simply tell about your new initiative and share it on social medias too.
            </p>
            <br>
            <strong style="margin: 0;font-size: 15px;">PLEASE KEEP IN MIND
            </strong>

        </td>
        <td style="float: right;width: 42%;padding: 40px 0;">

            <div class="col-xs-12 text-center">
                <ul style="margin: auto;list-style-type: none;padding: 0;width: auto;display: inline-block;">
                    <li style="float: left;width: auto;display: inline-block;padding: 0;margin-left: 10px;"><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                    <li style="float: left;width: auto;display: inline-block;padding: 0;margin-left: 10px;"><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                    <li style="float: left;width: auto;display: inline-block;padding: 0;margin-left: 10px;"><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                    <li style="float: left;width: auto;display: inline-block;padding: 0;margin-left: 10px;"><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>

                </ul>
                <span style="text-align: center;float:left;width: 100%;">Share me with your friends</span> </div>

        </td>

        <td style="float: left; width: 100%;"><br>
            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);text-align: justify;padding: 0px 0 0px;">1. You don’t need to know anything to do this - the most important thing is just to do it.

            </p>

            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);text-align: justify;padding: 15px 0 0px;">2. Be Yourself, post often and keep posting content - text, photos or videos. There is no such thing as posting too much to Your network.

            </p>

            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);text-align: justify;padding: 15px 0 0px;">3. Create “Your space” based on what you know and the Sessions You offer. You can provide tips, teasers, insights or tell a relevant story:-)

            </p>


            <br>

        </td>

    </tr>
    <tr style="display: block; font-size: 15px;padding-top:10px;">
        <td style="display: block; padding: 10px;"></td>
        <td style="text-align:center; padding: 10px;  margin-bottom: 0px;  display: block;">
            <span style="font-size: 15px; color: #1C283C;" >Kindes regardes,</span>
        <td style="text-align:center; padding: 0px;  display: block;">
            <img src="/themes/custom/peopleteachme/images/logo2.png" class="img-responsive" style="padding: 10px 0;margin: auto;" alt="Logo"/>
        </td>
        <td style="text-align:center; padding: 10px;padding-bottom: 20px;display: block;">
            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);;padding: 15px 0 px;font-size: 12px">COPYRIGHT © 2016     All rights reserved and copyright on all content on PeopleTeachMe platforms.

            </p><br>
            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);text-align: left;padding: 15px 0 px;font-size: 12px">This message was sent to xxx (mailto: xxx) and intended for Bo Hedmann Jensen. PeopleTeachMe sends updates like this to help you keep up with the lastest on PeopleTeachMe.com, if there are changes in your profile and account, or you have made a booking. You can not unsubscribe service mails or remove your mail form this account.
            </p>
            <p style="margin: 0;color:rgba(28, 40, 60, 0.54);text-align: left;padding: 15px 0 px;font-size: 12px">Cancel (link to account) your account  here if you don’t wish to continue to get service mails from PeopleTeachMe. .
            </p>
        </td>
        </td>
    </tr>
    <tr style="float:left; width:100%; padding: 30px 0;text-align: center;width: 100%; background: #1C283C;">
        <td colspan="3" style="float:left; width:100%;"><img alt="img" src="https://staging.peopleteachme.com/themes/custom/peopleteachme/images/new-logo5.png" /><br />
            <span style="color: #fff; font-size: 12px; float:left; width:100%;font-family: Arial, sans-serif;">COPYRIGHT © 2016 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
