<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-5 col-sm-3 logo">
                    <a class="objectClick" href="{{ path('<front>') }}">
                        <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                            <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                        </object>
                        <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                    </a>
                </div>
                <div class="col-md-7 col-sm-9">

                    <button class="risponsiveNav"> <span></span> </button>
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#">Become a tutor</a></li>
                        <li class="dropdown"> <a class="dropdown-toggle learnToggle" data-toggle="dropdown" href="#">What you can learn <span class="caret"></span></a> </li>

                        <li><a href="#">Help</a></li>
                        <!--<li class="newSessionNavigation"><a href="#">NEW SESSION</a></li>-->
                        <li class="signIn"><a href="#">Sign in</a>
                        </li>
                    </ul>
                </div>
                <ul class="dropdown-menu learnDropDown">
                    <li><a href="#">Performing are<span>Music, Theatre, Dance...</span> </a></li>
                    <li><a href="#">Multimedia<span>Animations, Web design...</span></a></li>
                    <li><a href="#">Education<span>History,Languages,Science...</span></a></li>
                    <li><a href="#">Eco-friendly living<span>Save energy,Air quality...</span></a></li>
                    <li><a href="#">Travel & Outdoors<span>Guides, Nature, Plants...</span></a></li>
                    <li><a href="#">Visual art<span>Painting,Ceramics,Drawing...</span></a></li>
                    <li><a href="#">Tech & Science<span>Mobile,Space,Robots...</span></a></li>
                    <li><a href="#">Enterpreneurshup<span>Finances,Strategy,Office...</span></a></li>
                    <li><a href="#">Home Sweet home<span>Pets,Home,Gardening...</span></a></li>
                    <li><a href="#">Sports & Adventure<span>Cycling,Sailing,Golf...</span></a></li>
                    <li><a href="#">Crafts & Hobbies<span>Weaving,Knitting,Origami...</span></a></li>
                    <li><a href="#">Digital Life<span>Mobiles,Copumters,Tablets...</span></a></li>
                    <li><a href="#">Work & Management<span>Marketing,CV,Coaching...</span></a></li>
                    <li><a href="#">Cooking & Drink<span>Food,Beverage...</span></a></li>
                    <li><a href="#">Body & Mind<span>Beauty,Health,Fitness...</span></a></li>
                    <li><a href="#">Design<span>Fashion,Clothing,Tattoss...</span></a></li>
                    <li><a href="#">Gaming<span>Consoles,Analog games...</span></a></li>
                    <li><a href="#">Society & Culture<span>Party,Roleplay,Geek...</span></a></li>
                    <li><a href="#">Transportation<span>Car,Motorcycles,Bicycles...</span></a></li>
                </ul>
            </div>




        </div>
    </div>
</div>
<div class="container-fluid zero-left-right">
    <div class="background-tutor text-center">
        <div class="bckg-text">
            <h4>TUTOR AND USER GARANTEE</h4>
            <span>WE CARE ABOUT YOUR EXPERIENCE</span>
        </div>
    </div>

</div>
<div class="container-fluid promise-security terms padding-top">
    <div class="container">
        <div class="row">
            <div class="text-center padding-top">
                <h2>WE HAVE A MUTAL RESPONSIBILITY TO ENSURE<br><strong>EVERYONE A GOOD AND SAFE EXPERIENCE</strong></h2>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid marginTop">
    <div class="container">
        <div class="col-sm-8 acordian-padding">
            <div class="panel-group accordian-section" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">Tutors garantee</strong> </a> </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">Users garantee</strong> </a> </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">Booking process</strong> </a> </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">Deposit and payment conditions</strong> </a> </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">Be ready for your session</strong> </a> </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingsix">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">What are the technical requirements</strong> </a> </h4>
                    </div>
                    <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                <strong class="margin-left">In case of cancellation and rebooking</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p><br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                <strong class="margin-left">Contact</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p><br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- panel-group -->

        <div class="col-sm-3 col-xs-12 accrdion-right ">
            <ul class="text-center security-none">
                <li>
                    <img src="/themes/custom/peopleteachme/images/path.png" alt="logo">
                    <strong>Mutual guarantee</strong>
                    <p>Text from the legal text</p>
                </li>
                <li>
                    <img src="/themes/custom/peopleteachme/images/wifi-signal.png" alt="logo">
                    <strong>Mutual guarantee</strong>
                    <p>Text from the legal text</p>
                </li>
                <li>
                    <img src="/themes/custom/peopleteachme/images/signal.png" alt="logo">
                    <strong>Mutual guarantee</strong>
                    <p>Text from the legal text</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid text-center know-more">
    <h2>WANT TO <strong>KNOW MORE</strong></h2>
    <p>Read our detailed Terms, Privacy, Security and Cookie guidelines on PeopleTeachMe</p>
    <button>DOWNLOAD</button>
</div>
<div class="links-footer socialMedia container-fluid">
    <div class="container">
        <div class="col-sm-4 col-xs-12 responsive-center">
            <ul>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 share-spans responsive-center">
            <span class="blue">share</span>
            <span class="black">PeopleTeachMe </span>
            <span class="red">with</span>
            <span class="blue">your</span>
            <span class="light-blue">friends</span>
        </div>
        <div class="col-sm-5 col-xs-12 responsive-center">
            <button>Free Sign up</button>
        </div>
    </div>

</div>
<div class="above-footer container-fluid">
    <div class="container">
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">FULL-service …?</span>
                <li><a href="#">Why use PeopleTeachMe?</a></li>
                <li><a href="/en/tutor">Why become a tutor?</a></li>
                <li><a href="#">Get ready for Booking</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-1 ">Help & support</span>
                <li><a href="">Q&A and support</a></li>
                <li><a href="#">Chat with support </a></li>
                <li><a href="#">Technical requirements</a></li>
                <li><a href="#">Report illegal use</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">General User Terms</span>
                <li><a href="#">Fair Use Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="/en/node/10">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">Information</span>
                <li><a href="javascript:();">About us</a></li>
                <li><a href="javascript:();">Contact</a></li>
                <li><a href="javascript:();">Press</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid footer2 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/logo2.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/logo2.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span>

</div>