{% include '/themes/custom/peopleteachme/templates/layout/public-pages-header.html.twig' %}
<div class="container-fluid zero-left-right">
    <div class="background-security2 text-center">
        <div class="bckg-text">
            <h4>PEOPLETEAHME</h4>
            <span>WE OFFER FREE AND UNLIMITED HELP</span> </div>
    </div>
</div>
<div class="container-fluid promise-security promise-security2  padding-top">
    <div class="container">
        <div class="row">
            <div class="text-center padding-top">
                <h2>WE ARE ALWAYS <strong>HERE TO HELP</strong></h2>
                <ul>
                    <li class="col-sm-4"> <img src="/themes/custom/peopleteachme/images/ellipse-circle.png" alt="img">
                        <h4>Navn Navnesen</h4>
                        <p class="font-18">Help and support DK</p>
                        <span class="email">xx@peopleteachme.com</span> </li>
                    <li class="col-sm-4"> <img src="/themes/custom/peopleteachme/images/ellipse-circle.png" alt="img">
                        <h4>Navn Navnesen</h4>
                        <p class="font-18">Help and support DK</p>
                        <span class="email">xx@peopleteachme.com</span> </li>
                    <li class="col-sm-4"> <img src="/themes/custom/peopleteachme/images/ellipse-circle.png" alt="img">
                        <h4>Navn Navnesen</h4>
                        <p class="font-18">Help and support DK</p>
                        <span class="email">xx@peopleteachme.com</span> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding-bottom">
    <div class="container">
        <div class="text-center padding-bottom">
            <h2 class="regular-font">FREQUENTLY ASKED QUESTIONS</h2>
        </div>
        <div class="col-sm-8 acordian-padding">
            <div class="panel-group accordian-section" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">Is it similar to tutoring on Skype?</strong> </a> </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">xxx</strong> </a> </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">xxx</strong> </a> </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">xxx</strong> </a> </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">xxx</strong> </a> </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">xxx</strong> </a> </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"> <i class="more-less glyphicon glyphicon-plus"></i> <strong class="margin-left">xxx</strong> </a> </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- panel-group -->

        <div class="col-sm-4 grey-color accrdion-right">
            <h4>HELP AND SUPPORT</h4>
            <p>Lirum larum libris nura to dura Lirum larum libris nura to dura Lirum larum libris nura to dura Lirum larum libris nura Lirum larum libris nura to dura Lirum larum libris nura to dura Lirum larum libris nura to dura Lirum larum libris nura. </p>
            <br>
            <p>Lirum larum libris nura to dura Lirum larum libris nura to dura Lirum larum libris nura to dura Lirum larum libris nura Lirum larum. </p>
            <br>
        </div>
    </div>
</div>
<div class="links-footer socialMedia container-fluid">
    <div class="container">
        <div class="col-sm-4 col-xs-12 responsive-center">
            <ul>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 share-spans responsive-center">
            <span class="blue">share</span>
            <span class="black">PeopleTeachMe </span>
            <span class="red">with</span>
            <span class="blue">your</span>
            <span class="light-blue">friends</span>
        </div>
        <div class="col-sm-5 col-xs-12 responsive-center">
            <button>Free Sign up</button>
        </div>
    </div>
</div>
<div class="above-footer container-fluid">
    <div class="container">
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">FULL-service …?</span>
                <li><a href="#">Why use PeopleTeachMe?</a></li>
                <li><a href="/en/tutor">Why become a tutor?</a></li>
                <li><a href="#">Get ready for Booking</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-1 ">Help & support</span>
                <li><a href="">Q&A and support</a></li>
                <li><a href="#">Chat with support </a></li>
                <li><a href="#">Technical requirements</a></li>
                <li><a href="#">Report illegal use</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">General User Terms</span>
                <li><a href="#">Fair Use Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="/en/node/10">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">Information</span>
                <li><a href="javascript:();">About us</a></li>
                <li><a href="javascript:();">Contact</a></li>
                <li><a href="javascript:();">Press</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid footer2 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/logo2.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/logo2.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span>

</div>