<div class="container-fluid text-center landing-page">
    <div class="col-md-12 col-xs-12">
        <h1>WELCOME! YOU ARE NOW CLOSER TO GET AN</h1>
        <h2>EXTRA INCOME & FREE START UP!</h2>
        <div class="text-center">
            <div class="col-xs-12 col-sm-12">
                <div class="container-small">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Contact address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Contact address">
                    </div>
                    <div class="form-group half-input">
                        <input class="form-control half" type="text" placeholder="Zip code">
                        <input class="form-control half2" type="text" placeholder="City">
                    </div>
                    <span class="span-left align-left">Your exact address will not shared with users</span>
                    <div class="form-group">
                        <div class="select-style selectpicker">
                            <select>
                                <option>Select a state</option>
                                <option>Select a state</option>
                                <option>Select a state</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style selectpicker">
                            <select>
                                <option>Country of residence</option>
                                <option>Country of residence</option>
                                <option>Country of residence</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-style selectpicker">
                            <select>
                                <option>Select Time zone</option>
                                <option>Select Time zone</option>
                                <option>Select Time zone</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your email address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Reset password">
                    </div>
                    <div class="blackCheckBox form-group check-box">
                        <input type="checkbox" name="checkbox" value="value">
                        <label>I’d like to receive promotions, surveys and updates via email about PeopleTeachMe and its partners.</label>
                    </div>
                    <div class="form-group zero-margin">
                        <a class="last-btn">Become a Tutor</a>
                    </div>
                    <p>By signing up, I agree to PeopleTeachMe’s Termes of Service, Payments and Privacy policy and terms.</p>
                </div>
            </div>
        </div>
    </div>
</div>