<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 logo"> 
            <a class="objectClick" href="{{ path('<front>') }}"> 
                <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                    <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                </object>
                <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
            </a>
      </div>
    </div>
  </div>
</div>
    
    {{ page.content }}
    
    {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
<div class="container-fluid footer footer1 text-center endPaddingfooter"> 
    <a class="objectClick" href="{{ path('<front>') }}"> 
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span> 
</div>
          