{% include '/themes/custom/peopleteachme/templates/layout/dashboard-account-header.html.twig' %}
<div class="container-fluid marginBottom">
    <div class="container">
        <div class="row">

            <div class="mainContent col-sm-12 col-xs-12">
                <div class="motivation col-md-6">
                    <div class="motivationInner">
                        <p class="padding-top padding-bottom semi-bold">My motivation,</p>
                        <p>Jeg maler de huse, som jeg selv synes om, som siger mig noget, og som har sjæl. Jeg fotograferer husene og maler dem hjemme i Stockholm.</p>
                        <p class=" semi-bold paddingTop">I can,</p>
                        <p>Lære dig at male genkendelige bygninger og andre konstruktioner med fundstændig fotorealistiske detaljer.</p>
                        <h3 class="padding-bottom">Proposal for a plan to run the session:</h3>
                        <ul>
                            <li><span>01</span><p>Først taler vi lige om dit niveau og ambitioner evt. ser noget du allerede har lavet.</p></li>
                            <li><span>02</span><p>Så vælger jeg derpå at vise og forklare nogle af de metoder jeg benytter mig af i mit malerarbejde.</p></li>
                            <li><span>03</span><p>Then we… (450 characters per step)</p></li>
                            <li><span>04</span><p>Vi afrunder med en opsamling og aftaler evt. behovet for en ny session.</p></li>
                        </ul>
                    </div>
                </div>
                <div class="motivation col-md-6 motivation">
                    <div class="motivationInner">
                        <p class="padding-top semi-bold">My motivation,</p>
                        <textarea placeholder="Your motivation for offering this Skill… (250 characters)"></textarea>
                        <p class="pull-left semi-bold" style="margin-top: 10px;">I can,</p>
                        <textarea placeholder="Show, help, introduce, guide, teach, instruct you to… (250 characters)"></textarea>
                        <h3 class="paddingTop padding-bottom">Proposal for a plan to run the session:</h3>
                        <ul>
                            <li><span>01</span><p>First we… (450 characters per step)</p></li>
                        </ul>
                        <div class="addItem text-center">
                            <span>Create an extra step to your plan</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid btnSection fixed-btnsection ">
    <div class="container">
        <div class="pull-right col-sm-12 col-xs-12 text-center">
            <button class="btn greenBtn pull-right btn-disabled">Activat Now</button>
            <div class="centerBtn">
                <ul>
                    <li><a class="btn orangeBtn pull-right" href="/en/session-specification-step-3">Back</a></li>
                    <li><a class="btn orangeBtn pull-right">Next</a></li>
                </ul>
            </div>
            <a class="btn btn-danger pull-left cancel-width"  href="/en/dashboard">Cancel</a>

        </div>
    </div>
</div>
<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>