<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-4 logo">
                <a class="objectClick" href="{{ path('<front>') }}">
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a>
            </div>
            <div class="col-sm-8 col-xs-8">
                <button class="risponsiveNav">
                    <span></span>
                </button>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#">Become a tutor</a></li>
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">What you can learn <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Help</a></li>
                    <li class="signIn"><a href="#">Sign in</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class=" video-pro">
    <div id="" class="owl-carousel mainSlider">
        <div class="item"><img src="/themes/custom/peopleteachme/images/slider-image.png" alt="logo"> </div>
        <div class="item"><img src="/themes/custom/peopleteachme/images/slider-image.png" alt="logo"> </div>
        <div class="item"><img src="/themes/custom/peopleteachme/images/slider-image.png"  alt="logo"> </div>
    </div>
</div>
<div class="container-fluid padding-top profileside">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 responsive-center">
                <img src="/themes/custom/peopleteachme/images/jueryLarge.png" alt="image">
            </div>
            <div class="col-sm-4 extraPadding col-md-4">
                <div class="contentSectionSession">
                    <p class="font-18 regular-font">My name is</p>
                    <h3>Alexei Nicolas Van Svetlov</h3>

                    <div class="stars star-outer col-12 responsive-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>35</span></li>
                        </ul>
                    </div>
                    <div class="sessionInfo col-12 stars">
                        <ul class="text-left">
                            <li class="sessionLocation padding-top">Sweden, Europe</li>

                        </ul>
                    </div>
                    <div class="activeLinks zero-top col-12 marginTop">
                        <ul class="text-left">
                            <li class="send"><a href="#">Send Tutor a message</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 extraPadding col-md-5">
                <p class="font-16 light-font" >Jeg vil give folk en anderledes oplevelse af kunst. Det skal være anderledes, farvet og spændende… som mit liv er på farten! <br><br>

                    Selv om jeg er døv lykkedes det - på forunderlig vis, mine forældre at få mig ind på en meget anerkendt kunstskole som barn. Her startede min kunstnerisk rejse, som nu mange år senere, har givet mig mulighed for at opleve mange afkroge af verden og udstillet på mange forskellige gallerier. <br><br>
                    Et handicap er ikke begrænsende for kunst og humor - der er altid en vej til sine evner og det er det der gør os alle unikke.
                    jeg elsker mit håndværk og teknikken bag den avancerede tegneseriekunst.</p>

            </div>
        </div>
    </div>
</div>
<div class="socialMedia container-fluid grey-border">
    <div class="container">
        <div class="col-xs-12 text-center">
            <ul>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
            </ul>
            <span class="text-center font-16 col-xs-12 share">Share me with your friends</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h2 class="margin-left darkBlue marginTop">Explore my face-to-face sessions</h2>
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid reviews text-center margin-Top grey-border">

    <h4 class="darkBlue">35 Reviews</h4>


    <div class="stars">
        <ul>
            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
        </ul>
    </div>

</div>
<div class="container-fluid reviews-outer-content padding-top">
    <div class="container">
        <div class="row">
            <ul class="col-sm-8 right-align">
                <li>
                    <div class="image-div col-md-3 col-sm-4 col-xs-6">
                        <img src="/themes/custom/peopleteachme/images/ellipse.png" alt="img">
                    </div>
                    <div class="reviews-content col-md-9 col-sm-8 col-xs-6">
                        <span class="font-18 regular-font sliderSubHeading">Jennifer Smith</span>
                        <span class="right-align time">4:09pm</span>
                        <p class=" font-16 discriptionBookingreceipt">Hey let’s catch up soon. Do you want to grab lunch sometime this weekend? Let me know when you’re free!</p>
                    </div>
                    <div class="stars col-12 right-align">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="image-div col-md-3 col-sm-4 col-xs-6">
                        <img src="/themes/custom/peopleteachme/images/juery4.png" alt="img">
                    </div>
                    <div class="reviews-content col-md-9 col-sm-8 col-xs-6">
                        <span class="font-18 regular-font sliderSubHeading">Jack & Jones Littel More</span>
                        <span class="right-align time">14:39pm</span>
                        <p class="font-16 discriptionBookingreceipt">Hey let’s catch up soon. Do you want to grab lunch sometime this weekend? Let me know when you’re free!</p>
                    </div>
                    <div class="stars col-12 right-align">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid pagination1 profilePagination text-align-right padding-top">
    <div class="container">
        <div class="row">
            <ul class="col-sm-8 right-align border-width">
                <li class="prev-page relative-pagination"><a href="#">Previous Page</a></li>
                <li>1</li>
                <li class="active">2</li>
                <li>3</li>
                <li><span class="pagi-circle"></span><span class="pagi-circle"></span><span class="pagi-circle"></span></li>
                <li>9</li>
                <li class="next-page"><a href="#">Next page</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="links-footer socialMedia container-fluid">
    <div class="container">    <div class="col-sm-4 col-xs-12 responsive-center">
            <ul>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 share-spans responsive-center">
            <span class="blue">share</span>
            <span class="black">PeopleTeachMe </span>
            <span class="red">with</span>
            <span class="blue">your</span>
            <span class="light-blue">friends</span>
        </div>
        <div class="col-sm-5 col-xs-12 responsive-center">
            <button>Free Sign up</button>
        </div>
    </div>
</div>
<div class="above-footer container-fluid">
    <div class="container">
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">FULL-service …?</span>
                <li><a href="#">Why use PeopleTeachMe?</a></li>
                <li><a href="/en/tutor">Why become a tutor?</a></li>
                <li><a href="#">Get ready for Booking</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-1 ">Help & support</span>
                <li><a href="">Q&A and support</a></li>
                <li><a href="#">Chat with support </a></li>
                <li><a href="#">Technical requirements</a></li>
                <li><a href="#">Report illegal use</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">General User Terms</span>
                <li><a href="#">Fair Use Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="/en/node/10">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">Information</span>
                <li><a href="javascript:();">About us</a></li>
                <li><a href="javascript:();">Contact</a></li>
                <li><a href="javascript:();">Press</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid footer2 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/logo2.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/logo2.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span>

</div>