<div class="container-fluid header headerDashboard margins">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-5 col-sm-3 logo">
                    <a class="objectClick" href="{{ path('<front>') }}">
                        <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                            <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                        </object>
                        <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                    </a>
                    <div class="col-md-6 col-sm-12 col-md-12 searchHeader">
                        <form>
                            <input type="search" placeholder="Search the world for skills…">
                        </form>
                    </div>
                </div>
                <div class="col-md-7 col-sm-9">
                    <button class="risponsiveNav"> <span></span> </button>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown"> <a class="dropdown-toggle learnToggle" data-toggle="dropdown" href="#">What you can learn <span class="caret"></span></a> </li>


                        <li class="newSessionNavigation"><a href="/en/sessions-specification-step-1">NEW SESSION</a></li>
                        <li class="signIn dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account <span class="caret"></span></a>
                            <ul class="dropdown-menu accountDd">
                                <li><a href="#">My Profile</a></li>
                                <li><a href="/en/account-settings-step-1">My Account</a></li>
                                <li><a href="#">Session Overview</a></li>
                                <li><a href="/en/timeslot-listing">Time Slot Overview</a></li>
                                <li><a href="#">Messages</a></li>
                                <li><a href="#">My Transactions</a></li>
                                <li><a href="#">Sign out</a></li>
                            </ul>
                        </li>
                        <li class="signIn dropdown dashboard-profile"><a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account tabs<span class="caret"></span></a>
                            <ul class="dropdown-menu accountDd">
                                <li><a href="#" >My Profile</a></li>
                                <li class="active"><a href="/en/account-settings-step-1" >My Account</a></li>
                                <li><a href="/en/my-sessions-lists" >My Session List</a></li>
                                <li><a href="/en/timeslot-listing" >Time Slot Overview</a></li>
                                <li><a href="#" >Messages</a></li>
                                <li><a href="/en/transactions-orders" >Transactions & Orders</a></li>
                                <li><a href="/en/node/14">Help & Support</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="dropdown-menu learnDropDown">
                    <li><a href="/en/topic-landing-page-gallery">Performing are<span>Music, Theatre, Dance...</span> </a></li>
                    <li><a href="/en/topic-landing-page-gallery">Multimedia<span>Animations, Web design...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Education<span>History,Languages,Science...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Eco-friendly living<span>Save energy,Air quality...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Travel & Outdoors<span>Guides, Nature, Plants...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Visual art<span>Painting,Ceramics,Drawing...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Tech & Science<span>Mobile,Space,Robots...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Enterpreneurshup<span>Finances,Strategy,Office...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Home Sweet home<span>Pets,Home,Gardening...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Sports & Adventure<span>Cycling,Sailing,Golf...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Crafts & Hobbies<span>Weaving,Knitting,Origami...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Digital Life<span>Mobiles,Copumters,Tablets...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Work & Management<span>Marketing,CV,Coaching...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Cooking & Drink<span>Food,Beverage...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Body & Mind<span>Beauty,Health,Fitness...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Design<span>Fashion,Clothing,Tattoss...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Gaming<span>Consoles,Analog games...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Society & Culture<span>Party,Roleplay,Geek...</span></a></li>
                    <li><a href="/en/topic-landing-page-gallery">Transportation<span>Car,Motorcycles,Bicycles...</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row dashboardMargin">
            <h2 class="darkBlue marginTop col-sm-4 darkBlue-26" style="padding-left:0;">My Dashboard</h2>
            <div class="topManuDashBoard marginTop pull-left" style="padding-left:0;">
                <ul>
                    <li><a class="active" href="/en/my-sessions-lists">Active</a></li>
                    <li><a class="" href="/en/my-sessions-lists-inactive">In active</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid sectionBg">
    <div class="container">
        <div class="row">
            <div class="sideNav col-sm-4 col-xs-12">
                {% include '/themes/custom/peopleteachme/templates/layout/dashboard-sidebar.html.twig' %}
            </div>
            <div class="mainContent col-sm-8 col-xs-12">

                <div class="mainContent col-sm-8 col-xs-12 sessionPage">
                </div>
                <h2 class="padding-top padding-bottom font-20 bold">Inactive sessions</h2>
                <div class="sessionList padding-bottom">
                    <ul>
                        <li>
                            <a href="/en/sessions-specification-step-1"> <img src="/themes/custom/peopleteachme/images/session-list.png" alt="session list"></a>
                            <div class="sliderContent">
                                <p class="padding-bottom"><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                            </div>
                            <div class="endIconSessionList">
                                <span class="closeSession"></span>
                                <span class="teachmeSession"></span>
                                <a href="/en/sessions-specification-step-1"><span class="editSession"></span></a>
                            </div>
                        </li>
                        <li>
                            <a href="/en/sessions-specification-step-1"> <img src="/themes/custom/peopleteachme/images/session-list.png" alt="session list"></a>
                            <div class="sliderContent">
                                <p class="padding-bottom"><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                            </div>
                            <div class="endIconSessionList">
                                <span class="closeSession"></span>
                                <span class="teachmeSession"></span>
                                <a href="/en/sessions-specification-step-1"><span class="editSession"></span></a>
                            </div>
                        </li>




                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-8 col-xs-12">
            <a class="btn btn-danger orangeBtn pull-right" href="/en/sessions-specification-step-1">New Session</a>
        </div>
    </div>
</div>


<div class="container-fluid footer footer1 endPaddingfooterbtn">
    <span class="col-sm-12 text-center">

    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>