{% include '/themes/custom/peopleteachme/templates/layout/dashboard-account-header.html.twig' %}
<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="mainContent col-sm-12 col-xs-12">

                <div class="mainContent col-sm-8 col-xs-12 sessionPage">

                </div>
                <div class="sessionEdit col-md-6">
                    <div class="changeImg col-xs-12 marginTop">
                        <img src="/themes/custom/peopleteachme/images/sessionImage.png" alt="image">
                        <div class="imageLabels col-xs-12">
                            <label class="pull-left">Price per session</label>
                            <label class="pull-right">22,20 US $</label>
                        </div>

                    </div>
                    <div class="changeImg col-xs-12 marginBottom">
                        <img src="/themes/custom/peopleteachme/images/intro-video.jpg" alt="image">
                    </div>
                </div>
                <div class="sessionPrice col-md-6 text-right marginTop">
                    <div class="uploadImage">
                        <img src="/themes/custom/peopleteachme/images/uploadPhoto.png" alt="Upload Photo">
                        <button>Upload photo</button>
                        <p  class="text-center grey font-15" style="margin-top: 5px;">It’s important to inspire each other with nice and explanatory photos. Focus on the best way to show your skills and person.</p>
                    </div>
                    <div class="uploadImage">
                        <img src="/themes/custom/peopleteachme/images/uploadVideo.png" alt="Upload Photo">
                        <button>Upload intro video</button>
                        <p class="text-center grey font-15" style="margin-top: 5px;">Creating a 30 sek. video to introduce your product is an easy and informative way for others to learn about you and your product. Prepare for presentation, talt clear and make it short.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-12 col-xs-12 text-center">
            <button class="btn greenBtn pull-right">Save</button>
            <div class="centerBtn">
                <ul>
                    <li><a class="btn orangeBtn pull-right" href="/en/session-specification-step-2">Back</a></li>
                    <li><a class="btn orangeBtn pull-right" href="/en/session-specification-step-4">Next</a></li>
                </ul>
            </div>
            <a class="btn btn-danger pull-left cancel-width" href="/en/dashboard">Cancel</a>

        </div>
    </div>
</div>


<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>