{% include '/themes/custom/peopleteachme/templates/layout/public-pages-header.html.twig' %}
<div class="container-fluid padding-zero">
    <div class="col-xs-12" style="border-bottom:1px solid #e2e3e4;;">
        <div class="container">
            <ul class="gallery-dropdown container-fluid list-grid-h2">
                <li>
                    <div class="select-style selectpicker form-control">
                        <select>
                            <option>Language</option>
                            <option>Language</option>
                            <option>Language</option>
                        </select>
                    </div>
                </li>
                <li >
                    <div class="select-style selectpicker form-control">
                        <select>
                            <option>Level</option>
                            <option>Level</option>
                            <option>Level</option>
                        </select>
                    </div>
                </li >
                <li>
                    <div class="select-style selectpicker form-control">
                        <select>
                            <option>Price</option>
                            <option>Price</option>
                            <option>Price</option>
                        </select>
                    </div>
                </li>
            </ul>
            <div class="col-sm-2 col-xs-4 list-grid" style="margin-top: 10px; margin-bottom: 0;">
                <ul>
                    <li><a href="/en/search-result-list-gallery"><img src="/themes/custom/peopleteachme/images/path1.png" alt="img"></a></li>
                    <li><a href="/en/search-result-list"><img src="/themes/custom/peopleteachme/images/path2.png" alt="img"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <span class=" col-xs-12 padding-top discriptionBookingreceipt text-center">Enter full booking to se total pricing. Additional transaction fee will be added.</span> </div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pagination1 text-align-right padding-top ">
    <div class="container">
        <div class="row">
            <ul class="col-sm-8 right-align border-width margin-auto">
                <li class="prev-page relative-pagination"><a href="#">Previous Page</a></li>
                <li>1</li>
                <li class="active">2</li>
                <li>3</li>
                <li><span class="pagi-circle"></span><span class="pagi-circle"></span><span class="pagi-circle"></span></li>
                <li>9</li>
                <li class="next-page"><a href="#">Next page</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="links-footer socialMedia container-fluid">
    <div class="container">    <div class="col-sm-4 col-xs-12 responsive-center">
            <ul>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 share-spans responsive-center">
            <span class="blue">share</span>
            <span class="black">PeopleTeachMe </span>
            <span class="red">with</span>
            <span class="blue">your</span>
            <span class="light-blue">friends</span>
        </div>
        <div class="col-sm-5 col-xs-12 responsive-center">
            <button>Free Sign up</button>
        </div>
    </div>
</div>
<div class="above-footer margin-top container-fluid">
    <div class="container">
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">FULL-service …?</span>
                <li><a href="#">Why use PeopleTeachMe?</a></li>
                <li><a href="/en/tutor">Why become a tutor?</a></li>
                <li><a href="#">Get ready for Booking</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-1 ">Help & support</span>
                <li><a href="">Q&A and support</a></li>
                <li><a href="#">Chat with support </a></li>
                <li><a href="#">Technical requirements</a></li>
                <li><a href="#">Report illegal use</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">General User Terms</span>
                <li><a href="#">Fair Use Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="/en/node/10">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">Information</span>
                <li><a href="javascript:();">About us</a></li>
                <li><a href="javascript:();">Contact</a></li>
                <li><a href="javascript:();">Press</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid footer2 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/logo2.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/logo2.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span>

</div>