{% include '/themes/custom/peopleteachme/templates/layout/dashboard-account-header.html.twig' %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="mainContent marginTop preview col-sm-12 col-xs-12">
                <h2><span>WE HAVE A MUTAL RESPONSIBILITY TO ENSURE</span><br><br>EVERYONE A GOOD AND SAFE EXPERIENCE</h2>
                <h3 class="text-center marginTop col-xs-12">Please review Your new Session before You Activate it</h3>
            </div>
        </div>
    </div>
    <div class="dashboardBannerSession row">
        <img src="/themes/custom/peopleteachme/images/sessionlistFullwidth.png">
        <div class="imageLabels col-xs-12">
            <label class="pull-left">Price per session</label>
            <label class="pull-right">22,20 US $</label>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 max-width">
                <img src="/themes/custom/peopleteachme/images/jueryLarge.png" alt="image">
            </div>
            <div class="col-sm-4">
                <div class="contentSectionSession">
                    <h3 class="padding-bottom">Paint Photorealism</h3>
                    <p class="font-18">With Alexei Nicolas Van Svetlov</p>
                    <div class="stars padding-top col-12 responsive-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>3</span></li>
                        </ul>
                    </div>
                    <div class="sessionInfo col-12 stars">
                        <ul class="text-left">
                            <li class="sessionLocation">Sweden, Europe</li>
                            <li class="sessionLanguage">Russian, Swedish and English</li>
                            <li class="sessionTime">45 minutes</li>
                            <li class="sessionLevel">Expert, A level</li>
                        </ul>
                    </div>
                    <div class="activeLinks col-12 marginTop">
                        <ul class="text-left">
                            <li class="send"><a href="#">Send Tutor a message</a></li>
                            <li class="visit"><a href="#">Visit Tutors profile</a></li>
                            <li class="wishlist"><a href="#">Add to your Wishlist</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="formAmountLang">
                    <div class="form-group">
                        <label>Set amount of sessions</label>
                        <div class="select-style selectpicker form-control">
                            <select>
                                <option>1</option>
                                <option>3</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Available languages</label>
                        <div class="select-style selectpicker form-control">
                            <select class="">
                                <option>Danish</option>
                                <option>English</option>
                            </select>
                        </div>
                    </div>

                    <div class="bookingreceipt">
                        <h3 class="text-center">Booking overview</h3>
                        <ul>
                            <li><span class="pull-left">1 Session x 18 US$</span><span class="pull-right">18,00 US$</span></li>
                            <li><span class="pull-left">Commission Fee</span><span class="pull-right">3,60 US$</span></li>
                            <li><span class="pull-left">45 min. datacharge</span><span class="pull-right">0.45 US$</span></li>
                            <li><span class="pull-left"><strong>Total</strong></span><span class="pull-right"><strong>22,20 US$</strong></span></li>
                        </ul>
                        <span class="text-center padding-top col-xs-12 discriptionBookingreceipt">Additional small Transaction FEE will be added.</span>
                        <button class="btn orangeBtn" style="margin: 10px; width:calc(100% - 20px)">Request booking</button>
                        <span class="text-center col-xs-12 padding-bottom discriptionBookingreceipt discriptionBookingreceiptlrgfont">Your credit card won’t be charged yet</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="socialMedia container-fluid">
        <div class="container">
            <div class="col-xs-12 text-center padding-bottom">
                <ul style="padding-bottom: 10px;">
                    <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                    <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                    <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                    <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
                </ul>
                <span class="text-center col-xs-12">Share me with your friends</span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="col-xs-12 contentSections paddingTop res-padding-zero">
                <div class="col-sm-4">
                    <h3 >Usually available</h3>
                </div>
                <div class="col-sm-8 border-bottom">
                    <ul>
                        <li> <span class="headingSpan"><strong>Days:</strong></span> <span>Monday - Friday</span> </li>
                        <li> <span class="headingSpan"><strong>Your location:</strong></span> <span>23:00 - 04:30</span> </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 contentSections res-padding-zero paddingTop">
                <div class="col-sm-4">
                    <h3>Specifications</h3>
                </div>
                <div class="col-sm-8 border-bottom">
                    <ul>
                        <li> <span class="headingSpan"><strong>Topic:</strong></span> <span>Visual art</span> </li>
                        <li> <span class="headingSpan"><strong>Session time:</strong></span> <span>45 minutes</span> </li>
                        <li> <span class="headingSpan"><strong>Lanuage:</strong></span> <span>Russian, Danish, Swedish, German and English</span> </li>
                        <li> <span class="headingSpan"><strong>Location:</strong></span> <span>Sweden, Europe</span> </li>
                        <li> <span class="headingSpan"><strong>Level:</strong></span> <span>A level (Awsome)</span> </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 contentSections res-padding-zero paddingTop padding-bottom">
                <div class="col-sm-4">
                    <h3>Introduction:</h3>
                </div>
                <div class="col-sm-8 zero-padding">
                    <p class="regular-font">Jeg maler de huse, som jeg selv synes om, som siger mig noget, og som har sjæl. Jeg fotograferer husene og maler dem hjemme i Stockholm.</p>
                    <p class="regular-font"><strong class="font-16 bold">I can,</strong></p>
                    <p class="regular-font">Lære dig at male genkendelige bygninger og andre konstruktioner med fundstændig fotorealistiske detaljer.</p>
                    <p class="regular-font"><strong class="font-16 bold">Proposal:</strong></p>
                    <div class="motivationInner">
                        <ul>
                            <li><span>01</span>
                                <p class="regular-font">Først taler vi lige om dit niveau og ambitioner evt. ser noget du allerede har lavet.</p>
                            </li>
                            <li><span>02</span>
                                <p class="regular-font">Så vælger jeg derpå at vise og forklare nogle af de metoder jeg benytter mig af i mit malerarbejde.</p>
                            </li>
                            <li><span>03</span>
                                <p class="regular-font">Then we… (450 characters per step)</p>
                            </li>
                            <li><span>04</span>
                                <p class="regular-font">Vi afrunder med en opsamling og aftaler evt. behovet for en ny session.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-12 col-xs-12 text-center">
            <a class="btn greenBtn pull-right" href="/en/session-specification-step-6">Activat Now</a>
            <div class="centerBtn">
                <ul>
                    <li><a class="btn orangeBtn pull-right" href="/en/session-specification-step-4">Back</a></li>
                    <li><a class="btn orangeBtn pull-right btn-disabled" href="#">Next</a></li>
                </ul>
            </div>

            <a class="btn btn-danger pull-left cancel-width" href="/en/dashboard">Cancel</a>
        </div>
    </div>
</div>
<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>