<div class="container-fluid header ">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo"> <a class="objectClick" href="{{ path('<front>') }}">
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a></div>
        </div>
    </div>
</div>
<div class="background-thankyou">
    <div class="center" id="thanx-msg">
        <h4>THANK YOU</h4>
        <br>
        <br>
        <p>A verification link is landing in Your inbox. <br>
            <br>
            Click the verification link in the mail and get on with your Profile and Account.</p>
    </div>
</div>
<div class="container-fluid text-center white-background white-background2 "> <img src="/themes/custom/peopleteachme/images/congrats.png" alt="img"> </div>
<div class="container-fluid footer footer1  text-center endPaddingfooter">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</div>