{% include '/themes/custom/peopleteachme/templates/layout/public-pages-header.html.twig' %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h2 class="text-center  col-sm-10 col-xs-8 list-grid-h2 darkBlue darkblue-30 marginTop">Discover your results</h2>
            <div class="col-sm-2 col-xs-4 list-grid marginTop">
                <ul>
                    <li><img src="/themes/custom/peopleteachme/images/path1.png" alt="img"></li>
                    <li><a href="/en/search-result-list"><img src="/themes/custom/peopleteachme/images/path2.png" alt="img"></a> </li>
                </ul>
            </div>
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><a href="/en/node/31"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img"></a>
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <h2 class="text-center darkBlue col-sm-10 col-xs-8 list-grid-h2 marginTop darkblue-30">Most recently added</h2>
            <div class="col-sm-2 col-xs-4 marginTop list-grid">
                <ul>
                    <li><a href="#"> <img src="/themes/custom/peopleteachme/images/path1.png" alt="img"></a></li>
                    <li><a href="#"><a href="/en/search-result-list"><img src="/themes/custom/peopleteachme/images/path2.png" alt="img"></a></a></li>
                </ul>
            </div>
            <span class="col-sm-12 text-center sliderSubHeading">Have a look at the new awesome sessions there are available for you here. </span>
            <div id="" class="owl-carousel agendaSlider slider1">
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider1-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="" class="owl-carousel agendaSlider slider1 marginBottom">
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-1.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">21,60 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-2.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">32,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-3.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">18,30 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-4.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">10,20 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-5.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-6.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="item"><img src="/themes/custom/peopleteachme/images/slider2-7.png" alt="img">
                    <div class="sliderContent">
                        <p><span class="amount">8,00 US $</span> <span>Paint Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                    </div>
                    <div class="stars col-12 text-center">
                        <ul>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starFilled.png"></a></li>
                            <li><a href="#"><img src="/themes/custom/peopleteachme/images/starUnfilled.png"></a></li>
                            <li><span>6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid tutor marginBottom">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="col-sm-12 tutorContent">
                    <h2>You will <br>
                        love to be a Tutor</h2>
                    <span>Create a profile and become an important part of our community.</span>
                    <ul>
                        <li>FREE profile</li>
                        <li>Easy and safe</li>
                        <li>Extra income</li>
                    </ul>
                    <div class="col-sm-12"> <a class="tutor-link" href="#">JOIN AS TUTOR</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid marginTop">
    <div class="row">
        <div class="col-sm-12 queries">
            <h2 class="text-center col-sm-10 col-xs-8 list-grid-h2 darkBlue marginTop darkblue-30">Check out the latest User queries</h2>
            <div class="col-sm-2 col-xs-4 list-grid marginTop">
                <ul>
                    <li><img src="/themes/custom/peopleteachme/images/path1.png" alt="img"></li>
                    <li><a href="/en/search-result-list"><img src="/themes/custom/peopleteachme/images/path2.png" alt="img"></a></li>
                </ul>
            </div>
            <span class="col-sm-12 text-center sliderSubHeading">Let’s help by using our network and ressources to help others.</span> </div>
    </div>
</div>
<div class="container-fluid marginTop ContainerJuery marginBottom">
    <div class="container">
        <div class="row queries">
            <ul class="col-sm-12">
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery1.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery2.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery3.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery1.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery2.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery3.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery1.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery2.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="contentJuery"> <span class="sliderSubHeading querySubheading">Can you help,<br>
            Jennifer Smith</span>
                        <h2 class="darkBlue jueryHeading">Play Bluegrass Guitar</h2>
                        <span class="detailJuery"><strong>My Level is:</strong> D</span> <span class="detailJuery"><strong>Languages:</strong> Danish, American</span> </div>
                    <div class="imageJuery"><img src="/themes/custom/peopleteachme/images/juery3.png" alt="image"></div>
                    <hr class="col-sm-12">
                    <div class="endBarJuery">
                        <span class="dateJuery">12.12.2016</span>
                        <span class="contactJuery">Contact</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid marginTop marginBottom peopleTeachMe">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center darkBlue darkblue-30 marginTop">The benefits from using PeopleTeachMe</h2>
                <span class="col-sm-12 text-center sliderSubHeading">Our community provides you with a safe-to-use,<br>with-any-device and full-service invironment</span> </div>
            <!--<ul>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <h2 class="darkBlue">Use any online camera</h2>
                    <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <h2 class="darkBlue">Use any online camera</h2>
                    <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <h2 class="darkBlue">Use any online camera</h2>
                    <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <h2 class="darkBlue">Use any online camera</h2>
                    <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <h2 class="darkBlue">Use any online camera</h2>
                    <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <h2 class="darkBlue">Use any online camera</h2>
                    <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                </li>
            </ul>-->

            <ul class="benefitsSlider">
                <div class="owl-item">
                    <li class="col-xs-12">
                        <h2 class="darkBlue">Use any online camera</h2>
                        <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                    </li>
                    <li class="col-xs-12">
                        <h2 class="darkBlue">Use any online camera</h2>
                        <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                    </li>
                </div>
                <div class="owl-item">
                    <li class="col-xs-12">
                        <h2 class="darkBlue">Use any online camera</h2>
                        <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                    </li>
                    <li class="col-xs-12">
                        <h2 class="darkBlue">Use any online camera</h2>
                        <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                    </li>
                </div>
                <div class="owl-item">
                    <li class="col-xs-12">
                        <h2 class="darkBlue">Use any online camera</h2>
                        <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                    </li>
                    <li class="col-xs-12">
                        <h2 class="darkBlue">Use any online camera</h2>
                        <p class="darkBlue">You can use any camera that can go online. In other words with the right equipment and optimal wifi you can have a face-to-face video dialog almost anywhere.</p>
                    </li>
                </div>
            </ul>


        </div>
    </div>
</div>
<div class="links-footer socialMedia container-fluid">
    <div class="container">
        <div class="col-sm-4 col-xs-12 responsive-center">
            <ul>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 share-spans responsive-center">
            <span class="blue">share</span>
            <span class="black">PeopleTeachMe </span>
            <span class="red">with</span>
            <span class="blue">your</span>
            <span class="light-blue">friends</span>
        </div>
        <div class="col-sm-5 col-xs-12 responsive-center">
            <button>Free Sign up</button>
        </div>
    </div>
</div>
<div class="above-footer container-fluid">
    <div class="container">
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">FULL-service …?</span>
                <li><a href="#">Why use PeopleTeachMe?</a></li>
                <li><a href="/en/tutor">Why become a tutor?</a></li>
                <li><a href="#">Get ready for Booking</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-1 ">Help & support</span>
                <li><a href="">Q&A and support</a></li>
                <li><a href="#">Chat with support </a></li>
                <li><a href="#">Technical requirements</a></li>
                <li><a href="#">Report illegal use</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">General User Terms</span>
                <li><a href="#">Fair Use Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="/en/node/10">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">Information</span>
                <li><a href="javascript:();">About us</a></li>
                <li><a href="javascript:();">Contact</a></li>
                <li><a href="javascript:();">Press</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid footer2 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/logo2.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/logo2.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span>

</div>
<!--STEP1-->
<!--<form id="landing-page1" class="dialogBox landing-page TimeForm">
<div class="col-md-12 col-xs-12 text-center">
<h1>WELCOME, WE ARE SO HAPPY TO SEE YOU
</h1>
<h2>JOIN OUR COMMUNITY!</h2>
<div class="text-center">
<div class="container-fluid text-center font pagination1 padding-top">


  <ul class="col-xs-12">
   <div class="outer_pagi">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="next-page"><a href="#">Step</a></li>
    </div>
  </ul>

</div>
<div class="container-small padding-top">
  <div class="form-group">
        <input class="form-control" type="text" placeholder="First name">
 </div>



  <div class="form-group">
        <input class="form-control" type="text" placeholder="Last name">
 </div>


  <div class="form-group">
        <input class="form-control" type="text" placeholder="Contact address">
 </div>


  <div class="form-group">
        <input class="form-control" type="text" placeholder="Contact address">

 </div>

  <div class="form-group half-input">
        <input class="form-control half" type="text" placeholder="Zip code">
        <input class="form-control half2" type="text" placeholder="City">
      </div>
      <span class="span-left">Your exact address will not shared with users</span>



  <div class="form-group">
       <select class="selectpicker form-control">
          <option>Select a state</option>
          <option>Select a state</option>
          <option>Select a state</option>
        </select>
 </div>

  <div class="form-group">
       <select class="selectpicker form-control">
          <option>Country of residence</option>
          <option>Country of residence</option>
          <option>Country of residence</option>
        </select>
 </div>

  <div class="form-group">
<select class="selectpicker form-control">
          <option>Country of residence</option>
          <option>Country of residence</option>
          <option>Country of residence</option>
        </select>

</div>
   <div class="form-group ">
   <button class="last-btn">Become a Tutor</button>
     <p>By signing up, I agree to PeopleTeachMe’s Termes of Service, Payments and Privacy policy and terms.</p>
      </div>
</div>
</div>
</div>
</form>-->
<!--step1-end-->

<!--STEP2-->
<!--<form id="landing-page2" class="dialogBox landing-page TimeForm">
<div class="col-md-12 col-xs-12 text-center">
<h1>IN FACE-TO-FACE ONLINE INTERACTION

</h1>
<h2>WE ONLY MEET ONLINE!</h2>
<div class="text-center">
<div class="container-fluid text-center font pagination1 padding-top">


  <ul class="col-xs-12">
   <div class="outer_pagi">
    <li class="prev-page"><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="next-page"><a href="#">Step</a></li>
    </div>
  </ul>

</div>
<div class="container-small padding-top">
 <h4 class="padding-bottom">Profil photo and introduction</h4>
  <div class="form-group">
       <div class="uploadImage">
        <div class="image1"> <img src="/themes/custom/peopleteachme/images/profile-photo.png" alt="Upload Photo"> </div>
        <button>Upload profile photo</button>
        <p class="text-center">It’s important to inspire each other with nice and respectable photo.</p><br>
       <textarea rows="4" cols="40" placeholder="Personal introduction">

</textarea>
        <p class="text-center">Help other people get to know you as a tutor.</p>
      </div>
 </div>

   <div class="form-group ">
        <button class="last-btn">Next  step</button>
      </div>
</div>
</div>
    </div>
    </form>-->
<!--step2-end-->

<!--STEP3-->
<!--<form id="landing-page1" class="dialogBox landing-page TimeForm">
<div class="col-md-12 col-xs-12 text-center">
<h1>THE COMMUNITY BUILDS ON

</h1>
<h2>MUTUAL TRUST AND ACTING FAIR!</h2>
<div class="text-center">
<div class="container-fluid text-center font pagination1 padding-top">


  <ul class="col-xs-12">
   <div class="outer_pagi">
    <li class="prev-page"><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="next-page"><a href="#">Step</a></li>
    </div>
  </ul>

</div>
<div class="container-small padding-top">

<div class="form-group">
        <input class="form-control" type="text" placeholder="Password">
 </div>

  <div class="form-group">
        <input class="form-control" type="text" placeholder="Reenter Password">
 </div>
     <div class="dropdown outer_pagi general-terms show">
<a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
PeopleTeachMe General Terms
</a>

   <div class="dropdown-menu general-terms-menu" aria-labelledby="dropdownMenuLink">
  <div class="form-group check-box">
        <input type="checkbox" name="checkbox" value="value">
        <label>I have read and agree to the PeopleTeachMe General Terms, Fair Use and Privacy Policy.</label>
     </div>
   <div class="form-group check-box">
        <input type="checkbox" name="checkbox" value="value">
        <label>I’d like to receive promotions, surveys and updates via email about PeopleTeachMe and its partners.</label>
     </div>
   <div class="form-group ">



        <button class="last-btn">Become a Tutor</button>
      </div>
</div>
    </div>

</div>
</div>
    </div>
    </form>-->
<!--step3-end-->{#
<form id="landing-page1" class="dialogBox landing-page TimeForm">
    <div class="col-md-12 col-xs-12 text-center">
        <h1>WELCOME
        </h1>
        <h2>TO PEOPLETEACHME</h2>

        <div class=" padding-top">

            <div class="section">
                <p>Thank you for signing up with PeopleTeachMe. We’re really excited to have you onboard!
                </p>
                <strong>So, let’s get started!
                </strong>
            </div>

            <div class="section section2 col-sm-12">
                <div class="left col-sm-7">
                    <strong>LEARN MORE ABOUT BOOKING
                    </strong>
                    <p>You can start Booking 24/7 as soon as you have completed the Minimum requirements in the  Profile and Account settings.</p>
                </div>
                <div class="right col-sm-5">
                    <button class="last-btn">Demo on How-to
                        Book a Session</button>
                </div>
            </div>

            <div class="section section2 col-sm-12">
                <div class="left col-sm-7">
                    <strong>WANT TO BECOME A TUTOR?

                    </strong>
                    <p>With a few steps you can become a Tutor and create Sessions other people can book.</p>
                </div>
                <div class="right col-sm-5">
                    <a class="last-btn">It’s easy to
                        become a Tutor</a>
                </div>
            </div>

        </div>

    </div>
</form>
#}
<!--STEP3-->


<!--step3-end-->