<div class="container-fluid">
    <div class="container">
        <div class="row">	
            <div class="mainContent col-sm-12 col-xs-12">
                <div class="sectionCongratulation padding-top padding-bottom">
                    <h2 class="text-center"> {{ template_header }}</h2>
                    {{ tutor_from }}
                    <div class="congratulationSection col-md-6 text-center padding-top50">
                        {% if tutor_from == '' %}
                        <img src="/{{ directory }}/images/congrats.png">
                        {% endif %}
                        <p class="col-xs-12 padding-bottom regular-font">Kind regards, <br /> The PeopleTeachMe Team</p>
                    </div>
		</div>
            </div>
	</div>
    </div>
</div>
