<div class="container">
    <div class="row">
        <div class="mainContent col-sm-12 col-xs-12">
            <div class="sectionCongratulation padding-top padding-bottom">
                <h2 class="text-center">CONGRATULATIONS</h2>
                <h3 class="text-center col-xs-12">YOU HAVE SUCCESSFULLY COMPLETED PAYMENT PROCESS</h3>
                <div class="congratulationSection col-md-6 text-center">
                <p class="text-center col-xs-12 regular-font">You will receive a mail with your booking and a link to the digital video room where you can meet with the Tutor.</p>

                </div>
            </div>
        </div>
    </div>
</div>
