<div class="container-fluid">
    <div class="container">
        <div class="row">	
            <div class="mainContent col-sm-12 col-xs-12">
                <h2 class="text-center">Booking Cancellation</h2>
                <div class="congratulationSection col-md-5 text-center">
                    <p class="text-center">You have canceled the booking!</p>
                    <img src="/{{ directory }}/images/congrats.png">
                    <p>The Tutor will be informed and the Time Slot you requested will be accessible for other users now.</p>
                    <p>Have a nice day.</p>
                </div>
            </div>
	</div>
    </div>
</div>