
<div class="container-fluid header headerDashboard margins">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo">
                <a class="objectClick" href="{{ path('<front>') }}">
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a> </div>
            <div class="col-sm-8">
            </div>
        </div>
        <div class="row dashboardMargin">
            <h2 class="darkBlue marginTop col-sm-4 darkBlue-26" style="padding-left:0;">My Dashboard</h2>
            <div class="topManuDashBoard marginTop pull-left" style="padding-left:0;">
                {% set url = url('<current>') %}
                {% set urlArray = url['#markup'] | split('/')%}
                {% set count = urlArray | length %}
                {% set uri = urlArray[count - 1] %}

                <ul>
                    <li><a class="{% if(uri == 'sessions-specification-step-1') %} active{% endif %}" href="/en/sessions-specification-step-1">Specifications</a></li>
                    <li><a class="{% if(uri == 'session-specification-step-2') %} active{% endif %}" href="/en/session-specification-step-2">Set Price</a></li>
                    <li><a class="{% if(uri == 'session-specification-step-3') %} active{% endif %}" href="/en/session-specification-step-3">Photo & video</a></li>
                    <li><a class="{% if(uri == 'session-specification-step-4') %} active{% endif %}" href="/en/session-specification-step-4">Introduction</a></li>
                </ul>
            </div>
            <div class="topManuDashBoard topManuDashBoardRight marginTop pull-right">
                <ul>
                    <li><a class="{% if(uri == 'session-specification-step-5') %} active{% endif %}" href="/en/session-specification-step-5">Preview</a></li>
                    <li><a class="{% if(uri == 'session-specification-step-6') %} active{% endif %} disabled" href="/en/session-specification-step-6">Activate</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>