{% include '/themes/custom/peopleteachme/templates/layout/public-pages-header.html.twig' %}
<!--<div class="full-width">
<div class="col-sm-4 yellow-bckg ist-Section text-center">
	<img src="/themes/custom/peopleteachme/images/search_icon.png" alt="img">
</div>
<div class="col-sm-4 yellow-bckg ist-Section text-center">
	<img src="/themes/custom/peopleteachme/images/play_icon.png" alt="img">
</div>
<div class="col-sm-4 yellow-bckg ist-Section text-center">
	<img src="/themes/custom/peopleteachme/images/time_icon.png" alt="img">
</div>
	
</div>-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-sm-4 zero-padding-right res-padding-zero">
            <div class="yellow-bckg text-center"> <img src="/themes/custom/peopleteachme/images/search_icon.png" alt="img">
                <h5>You have always dreamt of becoming better at…</h5>
            </div>
        </div>
        <div class="col-sm-4 zero-padding-right res-padding-zero">
            <div class="yellow-bckg text-center"> <img src="/themes/custom/peopleteachme/images/time_icon.png" alt="img">
                <h5>Book any kind of tutor on peopleteachme</h5>
            </div>
        </div>
        <div class="col-sm-4 res-padding-zero ">
            <div class="yellow-bckg text-center"> <img src="/themes/custom/peopleteachme/images/play_icon.png" alt="img">
                <h5>One-on-One online session with your Tutor</h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid promise-security padding-top">
    <div class="container">
        <div class="row">
            <div class="text-center padding-top">
                <h2>WE WISH YOU AN <br>
                    <strong>AWESOME FACE-TO-FACE ONLINE EXPERIENCE</strong></h2>
                <p>Thank you for using PeopleTeachMe a community made to buy and sell skills of al kinds.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding-top ptm-use">
    <div class="container">
        <div class="col-sm-9">
            <div class="panel-group accordian-section" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <strong class="margin-left">Search between all kinds of skills</strong> </a> </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <strong class="margin-left">Choose a Tutor that fits your criteria</strong> </a> </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>2.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>2.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <strong class="margin-left">Book a Tutor</strong> </a> </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> <strong class="margin-left">Deposit the payment</strong> </a> </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> <strong class="margin-left">Be ready for the session</strong> </a> </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> <strong class="margin-left">One-on-One online session</strong> </a> </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"> <strong class="margin-left">Releas of deposit payment</strong> </a> </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-Default1">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"> <strong class="margin-left">Contact</strong> </a> </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="panel-body">
                            <p>1.1.  Peopleteachme.com is owned and operated by the People Teach Me IVS. In the following are peopleteachme.com mentioned as “website” and People Teach Me IVS mentioned “PTM”. </p>
                            <br>
                            <p>1.2.  PTM is registered in Denmark under CVR number 38030949. The company’s business purpose is the release of a digital infrastructure for facilitating buying and selling of knowledge as services online between people. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel-group -->

        </div>
        <div class="col-sm-3 text-center right-Images">
            <ul>
                <li> <img src="/themes/custom/peopleteachme/images/imgg.png" alt="img"> </li>
                <li> <img src="/themes/custom/peopleteachme/images/imgg2.png" alt="img"> </li>
                <li> <img src="/themes/custom/peopleteachme/images/imgg3.png" alt="img"> </li>
                <li> <img src="/themes/custom/peopleteachme/images/imgg4.png" alt="img"> </li>
                <li> <img src="/themes/custom/peopleteachme/images/imgg6.png" alt="img"> </li>
                <li> <img src="/themes/custom/peopleteachme/images/imgg7.png" alt="img"> </li>
                <li> <img src="/themes/custom/peopleteachme/images/imgg8.png" alt="img"> </li>
            </ul>
        </div>
    </div>
</div>
<div class="links-footer socialMedia container-fluid">
    <div class="container">
        <div class="col-sm-4 col-xs-12 responsive-center">
            <ul>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Google+.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/LinkedIn.png"></a></li>
                <li><a href="#"><img src="/themes/custom/peopleteachme/images/Twitter.png"></a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-12 share-spans responsive-center">
            <span class="blue">share</span>
            <span class="black">PeopleTeachMe </span>
            <span class="red">with</span>
            <span class="blue">your</span>
            <span class="light-blue">friends</span>
        </div>
        <div class="col-sm-5 col-xs-12 responsive-center">
            <button>Free Sign up</button>
        </div>
    </div>
</div>
<div class="above-footer container-fluid">
    <div class="container">
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">FULL-service …?</span>
                <li><a href="#">Why use PeopleTeachMe?</a></li>
                <li><a href="/en/tutor">Why become a tutor?</a></li>
                <li><a href="#">Get ready for Booking</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-1 ">Help & support</span>
                <li><a href="">Q&A and support</a></li>
                <li><a href="#">Chat with support </a></li>
                <li><a href="#">Technical requirements</a></li>
                <li><a href="#">Report illegal use</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">General User Terms</span>
                <li><a href="#">Fair Use Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="/en/node/10">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="ul-footer col-sm-3 col-xs-12">
            <ul>
                <span class="font-18">Information</span>
                <li><a href="javascript:();">About us</a></li>
                <li><a href="javascript:();">Contact</a></li>
                <li><a href="javascript:();">Press</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid footer2 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/logo2.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/logo2.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.</span>

</div>