<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo">
                <a class="objectClick" href="{{ path('<front>') }}">
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="background-thankyou"> </div>
<div class="container-fluid text-center landing-page">
    <div class="col-md-12 col-xs-12">
        <h1>WELCOME! YOU ARE NOW CLOSER TO GET AN</h1>
        <h2>EXTRA INCOME & FREE START UP!</h2>
        <div class="text-center">
            <div class="container-fluid text-center font pagination1 padding-top">
                <div class="container">
                    <div class="row">
                        <ul class="col-xs-12">
                            <div class="outer_pagi">
                                <li class="prev-page"><a href="/en/tutor-landingpage-step-2">Step</a></li>
                                <li><a href="/en/tutor-landingpage-step-1b">1</a></li>
                                <li><a href="/en/tutor-landingpage-step-2">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-small">
                <h4 class="padding-bottom">Email, password and permission</h4>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your email address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Reenter Password">
                </div>
                <div class="dropdown outer_pagi general-terms show"> <a class="btn btn-secondary dropdown-toggle black" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> PeopleTeachMe General Terms </a>
                    <div class="dropdown-menu width general-terms-menu" aria-labelledby="dropdownMenuLink">
                        <p>
                            General Terms of Use for PeopleTeachMe
                        </p>
                        <p>
                            Last Updated: 10. April 2017

                        </p><br>
                        <strong>1 Introduction</strong>
                        <p>1.1 People Tech Me IVS, CVR-nr 38030949, Copenhagen / Dalgaardsvej 6, 3400 Hillerød (“We”, “Us”, “Our” or “PTM”), a legal limited liability company incorporated in Denmark has established the PeopleTeachMe platform that connects users who uses the platform to offer sessions for sale (“Tutors”) with users
                        </p>
                    </div>
                    <div class="form-group check-box padding-top padding-bottom blackCheckBox">
                        <input type="checkbox" name="checkbox" value="value">
                        <label>I have read and agree to the PeopleTeachMe General Terms, Fair Use and Privacy Policy.</label>
                    </div>
                    <div class="form-group check-box blackCheckBox">
                        <input type="checkbox" name="checkbox" value="value">
                        <label>I’d like to receive promotions, surveys and updates via email about PeopleTeachMe and its partners.</label>
                    </div>
                    <div class="form-group ">
                        <a class="last-btn">Become a Tutor</a>
                    </div>
                </div>

                {#<div class="dropdown outer_pagi general-terms show">
                    <a class="btn btn-secondary dropdown-toggle black" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> PeopleTeachMe General Terms </a>
                    <div class="dropdown-menu general-terms-menu" aria-labelledby="dropdownMenuLink">
                        <div class="form-group check-box blackCheckBox">
                            <input type="checkbox" name="checkbox" value="value">
                            <label>I have read and agree to the PeopleTeachMe General Terms, Fair Use and Privacy Policy.</label>
                        </div>
                        <div class="form-group check-box blackCheckBox padding-bottom a-margin2">
                            <input type="checkbox" name="checkbox" value="value">
                            <label>I’d like to receive promotions, surveys and updates via email about PeopleTeachMe and its partners.</label>
                        </div>
                        <div class="form-group ">
                            <a class="last-btn tutor-btn" href="/en/dashboard">Become a Tutor</a>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>