<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo">
                <a class="objectClick" href="{{ path('<front>') }}">
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="background-thankyou"> </div>
<div class="container-fluid text-center landing-page">
    <div class="col-md-12 col-xs-12">
        <h1>WELCOME! YOU ARE NOW CLOSER TO GET AN</h1>
        <h2>EXTRA INCOME & FREE START UP!</h2>
        <div class="text-center">
            <div class="container-fluid text-center font pagination1 padding-top">
                <div class="container">
                    <div class="row">
                        <ul class="col-xs-12">
                            <div class="outer_pagi">
                                <li class="prev-page"><a href="/en/tutor-landingpage-step-1b">Step</a></li>
                                <li><a href="/en/tutor-landingpage-step-1b">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="/en/tutor-landingpage-step-3">3</a></li>
                                <li class="next-page"><a href="/en/tutor-landingpage-step-3">Step</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-small">
                <h4 class="padding-bottom">Profile photo and introduction</h4>
                <div class="form-group a-margin">
                    <div class="uploadImage">
                        <div class="image1"> <img src="/themes/custom/peopleteachme/images/profile-photo.png" alt="Upload Photo"> </div>
                        <button>Upload profile photo</button>
                        <p class="text-center">It’s important to inspire each other with nice and respectable photo.</p>
                        <br>
                        <textarea rows="4" cols="40" placeholder="Personal introduction">

</textarea>
                        <p class="text-center zero">Help other people get to know you as a tutor.</p>
                    </div>
                </div>
                <div class="form-group ">
                    <a class="last-btn" href="/en/tutor-landingpage-step-3">Next  step</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>