{% include '/themes/custom/peopleteachme/templates/layout/dashboard-account-header.html.twig' %}
<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="mainContent col-sm-12 col-xs-12">

                <div class="mainContent col-sm-8 col-xs-12 sessionPage">

                </div>
                <div class="sessionEdit col-md-6">
                    <div class="changeImg col-xs-12 marginTop">
                        <img src="/themes/custom/peopleteachme/images/photo-placeholder.png" alt="image">
                        <div class="imageLabels col-xs-12">
                            <label class="pull-left">Price per session</label>
                            <label class="pull-right">22,20 US $</label>
                        </div>

                    </div>
                </div>
                <div class="sessionPrice col-md-6 text-right marginTop">
                    <div class="pull-right enterPrice">
                        <input type="text" placeholder="Enter your price per session">
                    </div>
                    <ul class="enterPriceList">
                        <li><span>Your price</span><span class="colorBrown">18,00 US$</span></li>
                        <li><span>Commission Fee</span><span>3,60 US$</span></li>
                        <li><span>60 min. datacharge</span><span>0,60 US$</span></li>
                        <li><span class="textBold">Users price</span><span class="textBold">22,20 US$</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-12 col-xs-12 text-center">
            <button class="btn greenBtn pull-right">Save</button>
            <div class="centerBtn">
                <ul>
                    <li><a class="btn orangeBtn pull-right" href="/en/sessions-specification-step-1">Back</a></li>
                    <li><a class="btn orangeBtn pull-right" href="/en/session-specification-step-3">Next</a></li>
                </ul>
            </div>

            <a class="btn btn-danger pull-left cancel-width" href="/en/dashboard">Cancel</a>
        </div>
    </div>
</div>


<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>