<div class="container-fluid header headerDashboard">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo"> 
                <a class="objectClick" href="{{ path('<front>') }}"> 
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a>
            </div>
            <div class="col-sm-8">
                <div class="col-md-4 col-sm-12 col-md-12 searchHeader">
                    <form>
                        <input type="search" placeholder="Search the world for skills…">
                    </form>
                </div>
                <button class="risponsiveNav">
                    <span></span>
                </button>
                <ul class="nav navbar-nav pull-right col-lg-8 col-md-12 col-xs-12">

                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">What you can learn <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li class="newSessionNavigation"><a href="#">NEW SESSION</a></li>
                    <li class="signIn dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account  <span class="caret"></span></a>
                        <ul class="dropdown-menu accountDd">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Session Overview</a></li>
                            <li><a href="#">Time Slot Overview</a></li>
                            <li><a href="#">Messages</a></li>
                            <li><a href="#">My Transactions</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="darkBlue marginTop col-sm-4" style="padding-left:0;">My Dashboard</h2>
            <div class="topManuDashBoard marginTop col-sm-8" style="padding-left:0;">
                <ul>
                    <li><a class="active" href="#">Active</a></li>
                    <li><a class="" href="#">In active</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid sectionBg">
    <div class="container">
        <div class="row">
            <div class="sideNav col-sm-4 col-xs-12">
                <ul>
                    <li><a href="#" class="darkBlue">My Profile</a></li>
                    <li><a href="#" class="darkBlue">My Account</a></li>
                    <li class="active"><a href="#" class="darkBlue">My Session List</a></li>
                    <li><a href="#" class="darkBlue">Time Slot Overview</a></li>
                    <li><a href="#" class="darkBlue">Messages</a></li>
                    <li><a href="#" class="darkBlue">Transactions & Orders</a></li>
                    <li><a href="#" class="darkBlue">Help & Support</a></li>
                </ul>
            </div>
            <div class="mainContent col-sm-8 col-xs-12">

                <div class="mainContent col-sm-8 col-xs-12 sessionPage">
                    <button class="risponsivesideBar">
                        <span></span>
                    </button>
                </div>
                <h2 class="">Active sessions</h2>
                <div class="sessionList">
                    <ul>
                        <li>
                            <img src="/themes/custom/peopleteachme/images/session-list.png" alt="session list">
                            <p><strong>21,60 US $</strong>  Paint <span>Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                            <div class="endIconSessionList">
                                <span class="closeSession"></span>
                                <span class="teachmeSession"></span>
                                <span class="editSession"></span>
                            </div>
                        </li>
                        <li>
                            <img src="/themes/custom/peopleteachme/images/session-list.png" alt="session list">
                            <p><strong>21,60 US $</strong>  Paint <span>Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                            <div class="endIconSessionList">
                                <span class="closeSession"></span>
                                <span class="teachmeSession"></span>
                                <span class="editSession"></span>
                            </div>
                        </li>
                        <li>
                            <img src="/themes/custom/peopleteachme/images/session-list.png" alt="session list">
                            <p><strong>21,60 US $</strong>  Paint <span>Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                            <div class="endIconSessionList">
                                <span class="closeSession"></span>
                                <span class="teachmeSession"></span>
                                <span class="editSession"></span>
                            </div>
                        </li>
                        <li>
                            <img src="/themes/custom/peopleteachme/images/session-list.png" alt="session list">
                            <p><strong>21,60 US $</strong>  Paint <span>Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                            <div class="endIconSessionList">
                                <span class="closeSession"></span>
                                <span class="teachmeSession"></span>
                                <span class="editSession"></span>
                            </div>
                        </li>
                        <li>
                            <img src="/themes/custom/peopleteachme/images/session-list.png" alt="session list">
                            <p><strong>21,60 US $</strong>  Paint <span>Photorealism</span> with Alexei Svetlov, 45 minutes…</p>
                            <div class="endIconSessionList">
                                <span class="closeSession"></span>
                                <span class="teachmeSession"></span>
                                <span class="editSession"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid btnSection">
    <div class="container">
        <div class="pull-right col-sm-8 col-xs-12">
            <button class="btn btn-danger orangeBtn pull-right">New Session</button>
        </div>
    </div>
</div>