{% include '/themes/custom/peopleteachme/templates/layout/dashboard-account-header.html.twig' %}
<div class="container-fluid sectionBg">
    <div class="container">
        <div class="row">
            <div class="sideNav col-sm-4 col-xs-12">
                {% include '/themes/custom/peopleteachme/templates/layout/dashboard-sidebar.html.twig' %}
            </div>
            <div class="mainContent zero-left-right col-sm-8 col-xs-12 sessionPage padding-top ">
                <div class="mainContent zero-left-right col-sm-12  col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="yourmail@mail.com">
                            <span class="span-right marginBottom">
                                <a class="chng-email update-email" style="cursor: pointer;">Change email</a>
                                <div class="outter">
                                    <div id="update-email" class="dialogBox Forms">
                                        <form>
                                            <ul>
                                                <li class="form-group zero-margin">
                                                    <input class="form-control"  type="text" placeholder="Enter new email">
                                                    <input class="form-control margin-Top20" type="text" placeholder="Reenter email">
                                                </li>
                                                <li class="orange1 update-email2" style="cursor: pointer;"><a class="" >UPDATE</a></li>

                                            </ul>

                                        </form>
                                    </div>
                                </div>
                                 <div class="outter">
                                    <div id="update-email2" class="dialogBox Forms">
                                        <form>
                                            <ul>
                                                <li class="text-center">
                                                    <h2>You have successfully
                                                        <strong>Changed Your Email   </strong> </h2>
                                                </li>
                                                <li><img src="/themes/custom/peopleteachme/images/popup-logo.png" alt="img"></li>

                                            </ul>

                                        </form>

                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password">
                            <span class="span-right marginBottom">
                                <a class="chng-paswrd update-password" style="cursor: pointer;">Change password</a>
                                <div class="outter">
                                    <div id="update-password" class="dialogBox Forms" title="Change password">
                                        <form>
                                            <ul>
                                                <li class="form-group zero-margin">
                                                    <input class="form-control"  type="text" placeholder="Enter old password">
                                                    <input class="form-control margin-Top20" type="text" placeholder="Enter new password">
                                                    <input class="form-control margin-Top20" type="text" placeholder="Reenter password">
                                                </li>
                                                <li class="orange1 update-password2" style="cursor: pointer;"><a class="" >UPDATE</a></li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <div class="outter">
                                    <div id="update-password2" class="dialogBox Forms">
                                        <form>
                                            <ul>
                                                <li class="text-center">
                                                    <h2>You have successfully
                                                        <strong>Changed Your Password  </strong> </h2>
                                                </li>
                                                <li><img src="/themes/custom/peopleteachme/images/popup-logo.png" alt="img"></li>
                                            </ul>
                                        </form>

                                    </div>
                                </div>

                            </span>
                        </div>
                        <div class="form-group check-box padding-top blackCheckBox">
                            <input type="checkbox" name="checkbox" value="value" >
                            <label>Remember me and stay locked in</label>
                        </div>
                        <div class="form-group check-box blackCheckBox">
                            <input type="checkbox" name="checkbox" value="value" >
                            <label>Hide my account for other people on PeopleTeachMe temporarily</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="select-style">
                                <select>
                                    <option>Preffered language</option>
                                    <option>Preffered language</option>
                                    <option>Preffered language</option>
                                    <option>Preffered language</option>
                                    <option>Preffered language</option>
                                    <option>Preffered language</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group half-input margin">
                            <label class="half">Recess time</label>
                            <div class="select-style selectpicker half2 form-control">
                                <select>
                                    <option>15 minutes</option>
                                    <option>15 minutes</option>
                                    <option>15 minutes</option>
                                </select>
                            </div>
                        </div>
                        <div class="blue-section">
                            <p>To ensure that your session does not interfere each other the system has a default 15 min. time buffer between sessions. You can not make it shorter, but it can be increased. <br>
                                <br>
                                If a user books two or more sessions simultaneously the time buffer is removed for a strate flow sessions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-8 col-xs-12">
            <button class="btn orangeBtn pull-right save">Save</button>
            <button class="btn btn-danger">Cancel your account</button>
        </div>
    </div>
</div>
<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span>
</div>

