<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 logo">
      <a class="objectClick" href="{{ path('<front>') }}">
                          <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                              <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                          </object>
                          <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                      </a>
      </div>
    </div>
  </div>
</div>
<div class="background-thankyou">
 <span></span>
  <div class="center started" id="get-started">
   
    <h4>LET’S GET STARTED</h4>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Your email address">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Your Password">
    </div>
    <a class="btn orangeBtn free-signup" href="/en/dashboard">Sign In</a>
  </div>
</div>
<div class="container-fluid text-center white-background">
 
</div>
<div class="container-fluid footer footer1 text-center endPaddingfooter">
    <a class="objectClick" href="{{ path('<front>') }}">
            <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
                <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
            </object>
        </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</div>