<div class="container-fluid popups">
    <div class="container">
        <button class="signup">signup</button>
        <div class="outter">
            <div id="signup" class="dialogBox Forms" title="Signup">
                <form>
                    <ul>
                        <li class="facebook"><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook1.png">Sign up with Facebook</a></li>
                        <li class="linkdin"><a href="#"><img src="/themes/custom/peopleteachme/images/Linkdin1.png">Sign up with Linkdin</a></li>
                        <li class="twiter"><a href="#"><img src="/themes/custom/peopleteachme/images/Twiter1.png">Sign up with Twitter</a></li>
                        <li class="borders-class"><span class="or-border"></span>
                            <span class="or-class">or</span>
                            <span class="or-border"></span></li>
                        <li class="orange1"><a href="#">Sign up with email</a></li>
                        <li><span class="border-bottom"></span></li>
                        <li class="last"><span class=" left">Already have an account?</span><button class="login">Log in</button></li>

                    </ul>

                </form>
            </div>
        </div>

        <button class="login">login</button>
        <div class="outter">
            <div id="login" class="dialogBox Forms" title="Login">
                <form>
                    <ul>
                        <li class="facebook"><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook1.png">Sign up with Facebook</a></li>
                        <li class="linkdin"><a href="#"><img src="/themes/custom/peopleteachme/images/Linkdin1.png">Sign up with Linkdin</a></li>
                        <li class="twiter"><a href="#"><img src="/themes/custom/peopleteachme/images/Twiter1.png">Sign up with Twitter</a></li>
                        <li class="borders-class"><span class="or-border"></span>
                            <span class="or-class">or</span>
                            <span class="or-border"></span></li>
                        <li class="form-group zero-margin">
                            <input class="form-control"  type="text" placeholder="Your email address">
                            <input class="form-control margin-Top20" type="text" placeholder="Password">
                        </li>
                        <a class="forgot" href="#">Forgot password?</a>


                        <li><div class="form-group check-box margin-bottom blackCheckBox">
                                <input type="checkbox" name="checkbox" value="value">
                                <label>Remember me</label>
                            </div></li>
                        <li class="orange1"><a href="#">Login up with email</a></li>
                        <li><span class="border-bottom"></span></li>
                        <li class="last"><span class=" left">Still not signed up?</span><button class="login">Sign up</button></li>

                    </ul>

                </form>

            </div>
        </div>


        <button class="signup-unfolded">signup-unfolded</button>
        <div class="outter">
            <div id="signup-unfolded" class="dialogBox Forms" title="Signup">
                <form>
                    <ul>

                        <li class="text-center"><span class="form-links ">Sign up with
                                <a href="#" class="font-16 black-color"><strong>Facebook</strong></a>, <a class="font-16 black-color" href="#"><strong>LinkedIn</strong></a> or <a class="font-16 black-color" href="#"><strong>Twitter</strong></a></span>
                        </li>
                        <li class="borders-class zero-padding"><span class="or-border"></span>
                            <span class="or-class">or</span>
                            <span class="or-border"></span></li>
                        <li class="form-group">
                            <input class="form-control"  type="text" placeholder="First name *">
                            <input class="form-control margin-Top20" type="text" placeholder="Last name *">
                            <input class="form-control margin-Top20" type="text" placeholder="Your email address">
                            <input class="form-control margin-Top20" type="text" placeholder="Password">
                            <input class="form-control margin-Top20" type="text" placeholder="Reenter password">
                        </li>
                        <li>
                            <div class="dropdown outer_pagi general-terms show"> <a class="btn btn-secondary dropdown-toggle black" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> PeopleTeachMe General Terms </a>
                                <div class="dropdown-menu width general-terms-menu" aria-labelledby="dropdownMenuLink">
                                    <p>
                                        General Terms of Use for PeopleTeachMe
                                    </p>
                                    <p>
                                        Last Updated: 10. April 2017

                                    </p><br>
                                    <strong>1 Introduction</strong>
                                    <p>1.1 People Tech Me IVS, CVR-nr 38030949, Copenhagen / Dalgaardsvej 6, 3400 Hillerød (“We”, “Us”, “Our” or “PTM”), a legal limited liability company incorporated in Denmark has established the PeopleTeachMe platform that connects users who uses the platform to offer sessions for sale (“Tutors”) with users
                                    </p>
                                </div>
                                <div class="form-group check-box padding-top padding-bottom blackCheckBox">
                                    <input type="checkbox" name="checkbox" value="value">
                                    <label>I have read and agree to the PeopleTeachMe General Terms, Fair Use and Privacy Policy.</label>
                                </div>
                                <div class="form-group check-box blackCheckBox">
                                    <input type="checkbox" name="checkbox" value="value">
                                    <label>I’d like to receive promotions, surveys and updates via email about PeopleTeachMe and its partners.</label>
                                </div>
                            </div>
                        </li>
                        <li class="orange1"><a href="#">Sign up</a></li>
                        <li><span class="border-bottom"></span></li>
                        <li class="last"><span class=" left">Already have an account?</span><button class="login">Log in</button></li>

                    </ul>

                </form>

            </div>
        </div>

        <button class="login-forgot-password">login forgot password</button>
        <div class="outter">
            <div id="login-forgot-password" class="dialogBox Forms" title="Login">
                <form>
                    <ul>
                        <li class="facebook"><a href="#"><img src="/themes/custom/peopleteachme/images/Facebook1.png">Sign up with Facebook</a></li>
                        <li class="linkdin"><a href="#"><img src="/themes/custom/peopleteachme/images/Linkdin1.png">Sign up with Linkdin</a></li>
                        <li class="twiter"><a href="#"><img src="/themes/custom/peopleteachme/images/Twiter1.png">Sign up with Twitter</a></li>
                        <li class="borders-class"><span class="or-border"></span>
                            <span class="or-class">or</span>
                            <span class="or-border"></span></li>
                        <div class="reset-password">
                            You will receive an email with a link to reset your password.
                        </div>
                        <li class="form-group zero-margin">



                            <input class="form-control"  type="text" placeholder="Your email address">
                            <span class="valid">Please enter a valid email</span>
                            <input class="form-control margin-Top20" type="text" placeholder="Password">
                        </li>
                        <a class="forgot" href="#">Forgot password?</a>


                        <li><div class="form-group check-box margin-bottom blackCheckBox">
                                <input type="checkbox" name="checkbox" value="value">
                                <label>Remember me</label>
                            </div></li>
                        <li class="orange1"><a href="#">Login up with email</a></li>
                        <li><span class="border-bottom"></span></li>
                        <li class="last"><span class=" left">Still not signed up?</span><button class="login">Sign up</button></li>

                    </ul>

                </form>

            </div>
        </div>


    </div>
</div>


<div class="container-fluid popups">
    <div class="container">
        <button class="update-password">update password</button>
        <div class="outter">
            <div id="update-password" class="dialogBox Forms" title="Change password">
                <form>
                    <ul>


                        <li class="form-group zero-margin">
                            <input class="form-control"  type="text" placeholder="Enter old password">
                            <input class="form-control margin-Top20" type="text" placeholder="Enter new password">
                            <input class="form-control margin-Top20" type="text" placeholder="Reenter password">
                        </li>
                        <li class="orange1"><a href="#">UPDATE</a></li>



                    </ul>

                </form>
            </div>
        </div>


        <button class="update-password2">update password2</button>
        <div class="outter">
            <div id="update-password2" class="dialogBox Forms">
                <form>
                    <ul>


                        <li class="text-center">
                            <h2>You have successfully
                                <strong>Changed Your Password  </strong> </h2>
                        </li>
                        <li><img src="/themes/custom/peopleteachme/images/popup-logo.png" alt="img"></li>



                    </ul>

                </form>

            </div>
        </div>

        <button class="update-email">update email</button>
        <div class="outter">
            <div id="update-email" class="dialogBox Forms">
                <form>
                    <ul>


                        <li class="form-group zero-margin">
                            <input class="form-control"  type="text" placeholder="Enter new email">
                            <input class="form-control margin-Top20" type="text" placeholder="Reenter email">
                        </li>
                        <li class="orange1"><a href="#">UPDATE</a></li>



                    </ul>

                </form>
            </div>
        </div>

        <button class="update-email2">update email2</button>
        <div class="outter">
            <div id="update-email2" class="dialogBox Forms">
                <form>
                    <ul>


                        <li class="text-center">
                            <h2>You have successfully
                                <strong>Changed Your Email   </strong> </h2>
                        </li>
                        <li><img src="/themes/custom/peopleteachme/images/popup-logo.png" alt="img"></li>



                    </ul>

                </form>

            </div>
        </div>


    </div>
</div>