<button class="welcome-to-people-teachme">Welcome To people teachme.</button>
<div class="outter">
    <div id="update-password2" class="dialogBox Forms">

        <form id="landing-page1" class="dialogBox landing-page TimeForm welcome">
            <div class="col-md-12 col-xs-12 text-center">
                <h1>WELCOME
                </h1>
                <h2>TO PEOPLETEACHME</h2>

                <div class=" padding-top">

                    <div class="section">
                        <p>Thank you for signing up with PeopleTeachMe. We’re really excited to have you onboard!
                        </p>
                        <strong class="font-16 bold">So, let’s get started!
                        </strong>
                    </div>

                    <div class="section section2 col-sm-12">
                        <div class="left col-sm-7">
                            <strong>LEARN MORE ABOUT BOOKING
                            </strong>
                            <p>You can start Booking 24/7 as soon as you have completed the Minimum requirements in the  Profile and Account settings.</p>
                        </div>
                        <div class="right col-sm-5">
                            <button class="last-btn width">Demo on How-to
                                Book a Session</button>
                        </div>
                    </div>

                    <div class="section section2 col-sm-12">
                        <div class="left col-sm-7">
                            <strong>WANT TO BECOME A TUTOR?

                            </strong>
                            <p>With a few steps you can become a Tutor and create Sessions other people can book.</p>
                        </div>
                        <div class="right col-sm-5 ">
                            <button class="last-btn width">It’s easy to
                                become a Tutor</button>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-12 right-align-text">
                <img src="/themes/custom/peopleteachme/images/new-Logo.png" alt="img">
            </div>
        </form>
    </div>
</div>