
<div class="container-fluid header headerDashboard margins">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 logo">
                <a class="objectClick" href="{{ path('<front>') }}">
                    <object data="/themes/custom/peopleteachme/images/logo-teach-me.svg" type="image/svg+xml">
                        <img src="/themes/custom/peopleteachme/images/logo-teach-me.svg" />
                    </object>
                    <img class="risponsiveLogo" src="/themes/custom/peopleteachme/images/risponsiveLogo.png">
                </a>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
        <div class="row">
            <h2 class="darkBlue marginTop col-sm-4" style="padding-left:0;">Congratulation</h2>
            <div class="topManuDashBoard marginTop pull-left" style="padding-left:0;">

            </div>
            <div class="topManuDashBoard topManuDashBoardRight marginTop pull-right">
                <ul>
                    <li><a class="active" href="#">Activate</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="mainContent col-sm-12 col-xs-12">
                <div class="sectionCongratulation padding-top padding-bottom">
                    <h2 class="text-center">CONGRATULATIONS</h2>
                    <h3 class="text-center col-xs-12">YOU HAVE SUCCESSFULLY ACTIVATED A NEW SESSION</h3>
                    <div class="congratulationSection col-md-6 text-center">
                        <p class="text-center col-xs-12">Your Session will now accessible on peopleteachme.com and all Members can book a session with you.</p>
                        <img src="/themes/custom/peopleteachme/images/congrats.png">
                        <p class="col-xs-12 padding-bottom">Creating and Activating Sessions is FREE untill Your first sale where You automatically will be charged [TutorLicense_Price] US $ for a 12 months Tutor Licens.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid btnSection fixed-btnsection">
    <div class="container">
        <div class="pull-right col-sm-12 col-xs-12 text-center">

            <div class="centerBtn">
                <ul>
                    <li><a class="btn orangeBtn pull-right" href="/en/dashboard">Back to Dashboard</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid footer footer1 endPaddingfooterbtn"> <span class="col-sm-12 text-center">
    <a class="objectClick" href="{{ path('<front>') }}">
        <object data="/themes/custom/peopleteachme/images/new-logo5.svg" type="image/svg+xml">
            <img src="/themes/custom/peopleteachme/images/new-logo5.svg" />
        </object>
    </a>
    <span class="col-sm-12 left-footer">COPYRIGHT © 2017 &nbsp; &nbsp; &nbsp; All rights reserved and copyright on all content on PeopleTeachMe platforms.
    </span>
</span> </div>