/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 17, 2017, 5:58:48 PM
    Author     : hakh
*/
.timeslots-form .js-form-wrapper {
  padding: 5px 0;
  float: left;
  width: 350px;
}
.timeslots-form .js-form-wrapper .form-item label {
  float: left;
  width: 48%;
  display: inline-block;
  /*max-width: 100%;*/
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'open_sanssemibold';
}
.timeslots-form .js-form-wrapper input,
.timeslots-form .js-form-wrapper select {
  width: 48%;
  float: right;
  font-size: 14px;
  font-family: 'open_sansregular';
}
.form-submit span {
  font-family: 'open_sansbold' !important;
}
form#bookinginfo-booking-display-form .js-form-wrapper {
  margin-top: 15px;
}
.tutor_timeperiod_image {
  border-radius: 50%;
}

.stripe-button-el {
  background: #d96b3b;
}
/* select box in booking form */
form#bookinginfo-booking-display-form .select-style select {
  margin-top: -6px;
}
.margintop50 {
  margin-top: 50px;
}
.datepicker-dropdown {
  width: 205px;
}
.tutor_explaination_textarea {
  margin-bottom: 20px;
  resize: none;
  height: 150px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
  color: #848a9c;
}
.tutor_Send_btn {
  background: #d96b3b;
  border: none;
  padding: 12px 40px 9px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  border-radius: 3px;
  margin: auto;
}
.form-item-tutor-explaination label {
  float: left;
}

.objectClick {
  display: inline-block;
  position: relative;
}
.objectClick:after {
  content: "";
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.orangeLink {
  background: #d96b3b;
  opacity: 0.8
}
.booking-overview  .orangeLink {
  width: 250px!important;
  text-align: center !important;
  margin: 9px auto !important;
  color: #fff !important;
  float: none;
  display: grid;
  padding: 10px 0;
  font-size: 18px;
  font-family: 'open_sansbold';
}
.sendmsg_orangeLink {
  background: #d96b3b;
  opacity: 0.8;
  width: 250px!important;
  text-align: center !important;
  margin: 9px auto !important;
  color: #fff !important;
  float: none;
  display: grid;
  padding: 10px 0;
  font-size: 18px;
  font-family: 'open_sansbold';
}
input.w-100 {
  width: 100% !important;
}
input[data-role=datebox] {
  background-color: #fff !important;
  height: 35px;
  width: 90% !important;
}
.ui-datebox-container .btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  color: #333 !important;
}
.ui-datebox-container .glyphicon-minus:before,
.glyphicon-plus:before {
  -webkit-text-stroke: 0 #333;
}
.ui-datebox-container .glyphicon {
  float: none;
}
div.Login-popup-link {
  display: none;
}

@media (max-width: 767px) {
  div.modal-footer .btn-default {
    color: #333 !important;
  }
  .modal-footer .btn+.btn {
    margin-left: auto;
  }
}
